/* For a nicer looking page */
@font-face
  font-family: Decrepit
  src: url('../assets/decrepit.eot')
  font-style: normal
  font-weight: bold

@font-face
  font-family: Decrepit
  src: url('../assets/decrepit.ttf')
  font-style: normal
  font-weight: bold

@font-face
  font-family: Cantarell
  src: url('../assets/Cantarell-Regular.eot')
  font-style: normal
  font-weight: normal

html, body
  color: black
  margin: 0
  font-size: 16px
  text-align: center
  font-family: Cantarell, sans-serif
  background-color: white

header, main, footer
  margin: 0 auto
  display: block
header, footer
  width: 1440px
  max-width: 85%
  nav h2
    display: inline
    & + h2:before
      content: ' - '
main
  clear: both
  margin: 1em auto
  white-space: nowrap

h1, h2, h3, .title
  text-shadow: 2px 2px 4px gray

h1, .title
  font-family: Decrepit, sans-serif
h1
  float: left
  margin: 0
  font-size: 5em
  font-size: 8vw
  margin-right: 2vw
h2
  margin: 0
  font-size: larger
  font-weight: normal

p
  text-align: justify

ul
  margin: 0
  padding: 0
  list-style-type: none
  li + li
    margin-top: 12px
img
  height: auto
  max-width: 100%

.prev, .next
  color: gray
  padding: 1.5em 0
  font-size: 4em
  font-size: 7vw
  font-weight: bolder
  text-shadow: 0 0 .2em gray
  &:hover, .next:hover
    color: white
    text-shadow: 0 0 .4em black

a.modeSwitch
  display: block

footer
  font-size: small
img.copyleft
  height: 1.6em
  vertical-align: middle

a.rss
  float: right
  margin-top: -1em

.map
  display: none
