main
  margin-top: 5em
  *
    display: block !important
.prev, .next
  display: none !important
.simpleCarousel
  margin-left: 0 !important
  li
    margin: 0.7em auto !important
    &:first-child, &:nth-child(3n+1)
      page-break-after: always
