!!! 5
/[if IE]
%html(lang='fr')
  %head
    %meta(charset="utf-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")
    %meta(name="description" content="Toujours sur la brèche, ils se vouent corps et âme sans exiger leur part de gloire - Licence Art Libre")

    %meta(name="dcterms.title" content="Sbires!")
    %meta(name="dcterms.creator" content="Luc Fievet")
    %meta(name="dcterms.description" content="Toujours sur la brèche, ils se vouent corps et âme sans exiger leur part de gloire")
    %meta(name="dcterms.publisher" content="Emmanuel Charpentier")
    %meta(name="dcterms.language" content="fr")
    %meta(name="dcterms.license" content="LAL")

    %title
      Sbires!
      = current_page.data.title

    %link(rel="alternate" type="application/rss+xml" title="Sbires!" href="/rss.xml")
    %link(rel='shortcut icon' type='image/png' href='favicon.png')
    %link(rel='icon' type='image/ico' href='favicon.ico')

    = stylesheet_link_tag 'http://simplecarousel.acoeuro.com/style.css',
      'normalize', 'look'
    = stylesheet_link_tag 'print', media: 'print'

  %body(class="#{page_classes}")
    %header
      %h1 Sbires!

      %p
        Toujours sur la brèche, ils se vouent corps et âme sans exiger leur
        part de gloire. Heureux de côtoyer les grands de ce monde qui font
        l'Histoire, ils sont capables du sacrifice ultime sans sourciller.
        Loyaux, ils peuvent livrer des batailles perdues d'avance, passant de
        vie à trépas en toute discrétion.

        Il était temps de raconter enfin l'histoire des sans-grades, des hommes
        de main, des comparses, des séides, des nervis, en un mot des
        %span.title Sbires!

      %nav
        - sitemap.resources
        -   .select { |resource| resource.data.title }
        -   .sort_by { |r| r.data.title }
        -   .each do |resource|
          %h2
            - if resource == current_page
              = resource.data.title
            - else
              = link_to resource.data.title, resource

    %main= yield

    %footer
      %a.rss(href="/rss.xml" type="application/rss+xml")
        %img(src="assets/rss.png" alt="Flux RSS" width='32' height='32')

      %h2
        %img.copyleft(src="assets/200px-Copyleft.svg.png" alt="Logo copyleft"
          width='25' height='25')
        Cette œuvre est libre, vous pouvez la copier, la diffuser et la
        modifier selon les termes de la 
        %a(href="http://artlibre.org/licence/lal") Licence Art Libre.
      %a(href="http://incroyableluk.org/wiki/Sbires!") Contact, crédit et news

      .map
        Latitude/longitude:
        %span.geo
          %span.latitude 46.75984
          ;
          %span.longitude 1.738281

    = javascript_include_tag '//code.jquery.com/jquery-1.11.1.min.js',
      'http://simplecarousel.acoeuro.com/script.js', 'all'
