!!! XML
%rss(version="2.0" xmlns:atom="http://www.w3.org/2005/Atom")
  %channel
    %title Sbires!

    %description Toujours sur la brèche, ils se vouent corps et âme sans exiger leur part de gloire. Heureux de côtoyer les grands de ce monde qui font l'Histoire, ils sont capables du sacrifice ultime sans sourciller. Loyaux, ils peuvent livrer des batailles perdues d'avance, passant de vie à trépas en toute discrétion. Il était temps de raconter enfin l'histoire des sans-grades, des hommes de main, des comparses, des séides, des nervis, en un mot des Sbires!

    %link http://sbires.echarp.org/rss.xml
    %atom:link(href="http://sbires.echarp.org/rss.xml" rel="self" type="application/rss+xml")

    %language fr
    %webMaster echarpentier@april.org (Emmanuel Charpentier)
    %managingEditor luk@incroyableluk.org (Luc Fievet)

    = yield
