---
title: Épisode 1
---

%ul.simpleCarousel(data-delay='-1')
  %li= image_tag 'S01/00sbire.jpg', alt: 'Sbires!'
  %li
    = image_tag 'S01/01sbire.jpg', alt: " |
      Loris: Tu vois Kenny, ton problème c'est que tu manques de |
      confiance en toi. |
      Moi j'ai confiance en moi. Tu devrais faire pareil. |
      Avoir confiance en moi. |
      Max: Salut, je suis nouveau. On va travailler ensemble, c'est |
      bien ça? |
      " |
  %li
    = image_tag 'S01/02sbire.jpg', alt: " |
      Loris: Ah! Un nouveau! Qu'il est beau! Quelle classe! Quelle |
      prestance! |
      Bienvenue au service du Professeur! Bienvenue parmi tes frères |
      d'arme! |
      Ici, nous sommes l'élite de l'élite. Nous faisons trembler le monde |
      entier grâce à son féroce génie! |
      Ni peur, ni pitié. Rien ne nous arrête. L'avenir est notre pain |
      quotidien! |
      " |
  %li
    = image_tag 'S01/03sbire.jpg', alt: " |
      Loris: Mais attention! Ce n'est pas parce que tu as passé les tests |
      de recrutement que tu es à notre niveau! Tu dois faire tes preuves. |
      Par exemple, nous n'allons pas \"travailler\" ensemble. Ceci n'est |
      pas un vulgaire \"job\". Il s'agit de se donner corps et âme, 24/7. |
      C'est un sacrifice de tous les instants! |
      Tes petits intérêts personnels s'effacent devant le devoir. |
      Crois-moi, il n'y a pas de place pour les incompétents, les lâches |
      et les intriguants. C'est l'arme au point qu'on prouve sa valeur. |
      Seras-tu à la hauteur? |
      Jake: Et sinon Loris a oublié de te dire qu'ici, c'est la cafet' et |
      que le réfectoire c'est un niveau en dessous. |
      Aujourd'hui, je crois que c'est boudin purée! Miam! |
      " |
  %li
    = image_tag 'S01/04sbire.jpg', alt: " |
      Max: Faut peut-être que je reste à jeûn, parce que là, je dois |
      passer la visite médicale. |
      Jake: A l'infirmerie?!? |
      Crois-en ma longue expérience. Il y a trois règles de survie que tu |
      dois connaître... |
      Primo! |
      Si tu veux pas finir cobaye pour une expérience louche ou te faire |
      implanter une bombe corticale. |
      Evite l'infirmerie. |
      Secundo! |
      Jamais de matériel expérimental. |
      Et par jamais, je veux dire JAMAIS! |
      " |
  %li
    = image_tag 'S01/05sbire.jpg', alt: " |
      Jake: D'ailleurs à propos d'expérimental, mois j'aurais pas choisi |
      cette boisson-là... |
      Et tertio! |
      Toujours donner ton nom. |
      Dans notre profession, sans nom, tu fais pas long feu. |
      Loris: Jake, mon pauvre vieux, cette légende sur le nom est |
      simplement ridicule. |
      " |
  %li
    = image_tag 'S01/06sbire.jpg', alt: " |
      Jake: Ah oui? Le dernier qui est tombé dans la fosse aux crocos, il |
      s'appelait comment? |
      Loris: Je l'ignore. |
      Jake: Et celui qui nettoyait les conduits à plasma, son nom tu le |
      connais pas non plus. |
      Loris: Pure coïncidence. |
      [une arme expérimentale explose au visage de Kenny] |
      Loris: Contre-exemple: Kenny. cqfd. |
      " |
  %li
    = image_tag 'S01/07sbire.jpg', alt: " |
      Haut parleur: Alerte rouge! Alerte rouge! Évasion en cours au |
      niveau -7. A toutes les forces disponibles: stoppez la cible à tout |
      prix! |
      Jake: Oh merde! Je parie que c'est le capitaine Justice. |
      Loris: Tous à l'escalier! On va se le faire. |
      Max: Max. Mon nom, c'est Max... |
      Jake: Moi, je vais plutôt lui tendre une embuscade à la |
      blanchisserie. |
      Loris: En avant! Fais moi confiance, la gloire nous tend les bras. |
      Suis-moi! |
      Max: euh... Ouais. |
      " |
  %li
    = image_tag 'S01/08sbire.jpg', alt: " |
      Max: Monsieur Loris, vous êtes où? |
      [bruit] |
      Max: C'est vous? |
      [Un sbire se fait projeter au travers d'une porte] |
      " |
  %li
    = image_tag 'S01/09sbire.jpg', alt: " |
      [Max a un gobelet à la main et l'arme du sbire à ses pieds] |
      Capitaine Justice: Fais-moi plaisir... Tente ta chance avec ton |
      jouet... |
      Tu préfères m'attaquer à coups de gobelet? |
      Allez, file-moi ça: s'évader des geôles du Professeur, ça donne |
      soif! |
      Salut et encore merci pour la boisson. |
      " |
  %li
    = image_tag 'S01/10sbire.jpg', alt: " |
      [Cafet' foule de sbires] |
      Haut parleur: Le personnel d'intervention au rapport immédiatement. |
      Loris: Max, tu es le dernier à l'avoir vu. A toi l'honneur de tout |
      expliquer au Professeur. |
      Pas vrai Jake? |
      [Max se retourne vers Jake: personne.] |
      Max: Mais... |
      [Il se retourne vers Loris: personne.] |
      Max: Euh... |
      [Max est désormais seul dans la Cafet] |
      Max: Et merde... |
      " |
  %li
    = image_tag 'S01/11sbire.jpg', alt: " |
      Lieutenante du Professeur: Toi viens par là! Le Professer attend |
      des explications. |
      Professeur: Au suivant! |
      Voix sous la trappe: Professeur? Je suis tombé. |
      " |
  %li
    = image_tag 'S01/12sbire.jpg', alt: " |
      Max: C'est pas moi qui... |
      Lieutenante du Professeur: Silence abruti! Tu parleras quand le |
      professeurte le dira. |
      Prends place. |
      Voix sous la trape: Y fait noir. C'est humide. |
      Ça a bougé! |
      Professeur: Ah bravo! Refiler un gobelet de Spécial P au Capitaine |
      Justice. Quelle brillante idée! |
      Grâce au marqueur isotopique qu'il contient nous allons enfin |
      pouvoir le tracer jusqu'à la base secrète des Défenseurs de la |
      liberté. |
      Vous avez gagné votre place en première ligne soldat! Rompez! |
      Voix sous la trappe: Y-a quelqu'un? |
      Professeur: Je tiens ma vengeance! |
      MOUAHAHAH! |
      Voix sous la trappe: Gentils les crocos. On pourrait sûrement |
      devenir copains? |
      " |
  %li
    = image_tag 'S01/13sbire.jpg', alt: " |
      Loris: C'est la phase critique. Tout le monde est en place et |
      attend que tu aies désactivé le système d'alarme pour mener |
      l'assaut contre la base ennemie. |
      Toute l'opération repose sur tes épaules. Je ne voudrais pas te |
      mettre la pression, mais auras-tu autant de chance que lors de |
      l'évasion? |
      Crois-moi, tu restes un bleu et la chance ne remplacera jamais |
      l'expérience. |
      Allez... Je veux bien le faire à ta place. Personne n'en saura |
      rien. |
      Toute la gloire sera pour toi. Fais-moi confiance. |
      Max: Ok |
      " |
  %li
    = image_tag 'S01/14sbire.jpg', alt: " |
      [Loris va subrepticement bidouiller le système d'alarme.] |
      " |
  %li
    = image_tag 'S01/15sbire.jpg', alt: " |
      Loris: Le fil rouge sur le bouton rouge, le fil vert sur le bouton |
      vert... |
      Allo chef! C'est Loris. |
      Le nouveau n'avait pas les tripes alors je l'ai remplacé. Je viens |
      à l'instant de désactiver l'alarme. |
      Mission accomplie avec succès Patronne. |
      Lieutenante du Professeur: Crétin! |
      Tu téléphones depuis la zone d'opération, ils ont forcément repéré |
      l'appel. |
      [Sirène d'alarme] |
      Haut parleur: Alerte! Intrus dans le périmètre. |
      Tous les personnels aux postes de combat. |
      " |
  %li
    = image_tag 'S01/16sbire.jpg', alt: " |
      Elwood: Gardez la tête baissée. Ça chauffe dur derrière. |
      Elwood. Je viens d'être muté depuis le territoire nord. |
      Jake: Enchanté. Mois c'est Jake. Bienvenue à bord de ce merdier. |
      " |
  %li
    = image_tag 'S01/17sbire.jpg', alt: " |
      Elwood: Le professeur n'est pas venu les mains vides... On dirait |
      une sorte de canon à protons pulsés. |
      Jake: Héhé!! Ils vont prendre cher les chacals! |
      Pour une fois qu'une de ses inventions veut bien marcher. |
      Elwood: Attends, mais dis-moi... |
      Elwood et Jake: ... T'es dans quel camp, toi? |
      " |
  %li
    = image_tag 'S01/18sbire.jpg', alt: " |
      Elwood: Faites pas les cons! Lachez vos flingues! |
      Jake: Toi d'abord, Boy-Scout! T'as aucune chance! |
      [ZzompZzompZzomp] |
      Jake: On mon dieu! Ils ont pulto-protonisé Kenny! |
      Elwood: Les bâtards... |
      On fait une pause? |
      Elwood: De toute façons à part mourir bravement on sert à rien. On |
      est une denrée périssable. |
      Jake: A part peut-être la fosse à crocos... |
      Elwood: Chez toi comme chez moi, c'est bien la même chose. Il n'y a |
      pas de différence finalement. |
      Jake: Et sinon, il parait que vous avez des RTT et des tickets |
      resto? |
      Parce que nous tu vois, par exemple, la cantine... |
      " |
  %li
    = image_tag 'S00/fini.jpg', alt: " |
      Loris: Quoi? C'est tout? |
      C'est fini! |
      (pour l'instant |
      ABonnez-vous au flux RSS pour ne pas manquer la suite! |
      " |
  -# %li= image_tag 'S00/toubicontinuede3.jpg', alt: 'Tou Bi Continuede 3'
  -# %li= image_tag 'S00/toubicontinuede2.jpg', alt: 'Tou Bi Continuede 2'
  -# %li= image_tag 'S00/toubicontinuede.jpg', alt: 'Tou Bi Continuede'
  %li= image_tag 'S00/recrutement-affiche.jpg', alt: 'Affiche Recrutement'
  %li= image_tag 'S00/splasch.jpg', alt: 'Affiche Splasch'
  %li= image_tag 'S00/sante.jpg', alt: 'Affiche Santé'
  %li= image_tag 'S00/vacances.jpg', alt: 'Affiche Vacances'
