---
title: Épisode 2
date: 2014-09-08
---

%ul.simpleCarousel(data-delay='-1')
  %li
    = image_tag 'S02/00sbires.jpg', alt: 'Sbires! |
      Livre et laisser pourrir' |
  %li
    = image_tag 'S02/01sbires.jpg', alt: " |
      Jake: Allez... Dans moins |
      d'une heure, c'est |
      bouclé et direction |
      la cafet! |
      Loris: Finalement ce |
      Machiavel reste un |
      amateur. |
      Cliente: Il est mal |
      rangé votre |
      magasin. Je |
      trouve pas |
      ce que je |
      cherche. |
      Jake: Vous avez le |
      titre? |
      L'auteur? |
      L'éditeur? |
      peut-être? |
      Cliente: Non... |
      La couverture était foncée. |
      Plus ou moins." |
  %li
    = image_tag 'S02/02sbires.jpg', alt: " |
      Jake: Euuhhhh... |
      Cliente: Sinon, c'est quoi |
      la différence |
      entre ces deux |
      là? |
      À part la couleur? |
      Et celui-là, il est |
      bien? Parce qu'il a |
      plus de pages mais il |
      est pas plus cher! |
      Max: Calmez- |
      vous... |
      Cliente: Vous trouvez ça |
      normal? |
      Loris: Ma chère petite |
      madame, nous allons |
      vous donner |
      satisfaction. Faites- |
      moi confiance. |
      Cliente: Je vous ai pas |
      sonné! |
      Vous répondez à |
      mes questions! |
      Faites ce pour quoi |
      on vous paie, bon |
      sang!" |
  %li
    = image_tag 'S02/03sbires.jpg', alt: " |
      Jake: Ok... |
      Loris: Noooonn!!! |
      Ah bravo... Et la cible |
      qui peut arriver |
      n'importe quand! |
      Max: Allez Loris, c'est |
      pas si grave. Il |
      faut tourner la |
      page... |
      Loris: T'as raison |
      Max... |
      Savoir passer |
      l'éponge c'est |
      important. |
      Et c'est toi qui |
      t'y colle." |
  %li
    = image_tag 'S02/04sbires.jpg', alt: " |
      Max: Fait chier... C'est |
      encore moi qui |
      doit nettoyer |
      leur merde. |
      Le fun, c'est |
      toujours pour les |
      mêmes... |
      Tout ça |
      parce que je |
      suis un bleu... |
      Qu'ils disent... |
      Bon... C'est |
      poubelle verte ou |
      poubelle |
      jaune déjà? |
      Lieutre: Attendez-moi là. |
      J'en ai pour une |
      minute." |
  %li
    = image_tag 'S02/05sbires.jpg', alt: " |
      Bonjour, je suis |
      Louis Anatole |
      Lieutre. |
      Je viens |
      chercher ma |
      commande. |
      Jake: Prends la |
      sulfateuse |
      pour couvrir |
      notre retraite. |
      Loris: Et attends de voir |
      le blanc de leurs |
      yeux pour tirer!" |
  %li
    = image_tag 'S02/06sbires.jpg', alt: " |
      Je crois qu'il y |
      a un problème... |
      Kenny: Le blanc de |
      leurs yeux! |
      Des lunettes |
      noires... |
      C'est vraiment |
      pas de chance..." |
  %li
    = image_tag 'S02/07sbires.jpg', alt: " |
      BLAM BLAM |
      La garde du corps: Ils sont sortis |
      par derrière... |
      Le garde du corps: Euf... Chef? Louis Anatole |
      vient d'être enlevé, on a |
      perdu sa trace." |
  %li
    = image_tag 'S02/08sbires.jpg', alt: " |
      SHPOK! |
      Lieutre: Mais au moins |
      pose-moi des |
      questions! |
      Loris: Ne sois pas si |
      impatient... Les |
      préliminaires, |
      c'est important. |
      Lieutre: Qu'est-ce que |
      tu peux |
      comprendre à |
      tout ça. Tu n'es |
      qu'un clone après tout. |
      Loris: Ahahaha!!! |
      Lieutre: Rappelle-toi, tu avais six |
      ans. Toi et ton frère êtes |
      entrés dans un immeuble... |
      Loris: Arrête ton cinéma! |
      Je sais où tu veux |
      en venir. Je me |
      souviens très bien |
      de ma mère. Même |
      enceinte, quand |
      elle rentrait du |
      peepshow bourrée, |
      elle me battait à |
      coups de ceinturon |
      et de talons. Alors, |
      on ne me la fait |
      pas!" |
  %li
    = image_tag 'S02/09sbires.jpg', alt: " |
      Lieutenante du Professeur: Voici donc notre invité, |
      Louis-Anatole Lieutre. |
      Je prends les chose en |
      main à partir de |
      maintenant. |
      Alors, petite fouine. Il paraît que |
      tu as trouvé des infos |
      compromettantes sur le |
      Professeur? |
      Lieutre: J'ai rien découvert de sérieux! |
      La seule chose que j'ai déterré sur |
      ses origines, c'est son vrai nom: |
      POOPY!" |
  %li
    = image_tag 'S02/10sbires.jpg', alt: " |
      Ahahah |
      Jake: Poopy... |
      Professeur: Je vous surveille |
      vous savez... |
      Lieutenante du Professeur: Ca fait rire quelqu'un? |
      Jake: Euh... |
      Poopy vaincra! |
      " |
  %li
    %a(href='http://jeanbleu.free.fr/musik/04%20Poopy.mp3')
      = image_tag 'S02/11sbires.jpg', alt: " |
        Les sbires: Poopy vaincra! |
        Lieutenante du Professeur: Amusez vous encore |
        un peu avec lui, mais |
        ne le tuez pas. |
        Ensuite, amenez- |
        le moi au labo. J'y |
        serai, je dois faire |
        une échographie |
        pour le projet N. |
        Rompez! |
        " |
  %li
    = image_tag 'S02/12sbires.jpg', alt: " |
      Max: Le meilleur |
      moment |
      de la |
      journée. |
      Loris: Tu as vu la |
      patronne? Je ne sais |
      pas ce que c'est que |
      ce projet N mais ça ne |
      l'a pas ramollie. |
      Max: Ouaip... À vrai dire, |
      elle me fout un peu |
      la trouille. |
      Surtout |
      maintenant qu'elle |
      est enceinte. |
      Elle me rappelle ma |
      mère. Quand elle |
      rentrait du Peep- |
      show, enceinte |
      jusqu'aux dents et |
      empestant l'alcool, je |
      savais que j'étais |
      encore bon pour le |
      ceinturon est les coups |
      de talon dans les |
      côtes. |
      Loris: J'imagine |
      très bien... |
      " |
  %li
    = image_tag 'S02/13sbires.jpg', alt: " |
      Loris: Allez... En |
      route pour le |
      labo. |
      Lieutre: Même un clone peut avoir |
      plus d'ambition que de |
      simplement obéir. |
      Loris: Un peu |
      grossier |
      comme ruse. |
      Tu me sous- |
      estimes... |
      Lieutre: Quand bien même... Tu |
      ne trouves pas que les |
      souvenirs d'enfance de |
      ton collègue |
      ressemblent |
      étrangement aux tiens? |
      Je t'ai vu tiquer. |
      Loris: Simple |
      coïncidence. |
      Ça arrive plus souvent qu'on ne |
      croit. |
      Lieutre: C'est à ton tour de me |
      sous-estimer. Je vois |
      bien que tu as des |
      doutes. J'ai des |
      preuves chez moi qui |
      les changeront en certitudes. |
      Fais-toi confiance. |
      " |
  %li
    = image_tag 'S02/14sbires.jpg', alt: " |
      Lieutre: Par ici, je connais une |
      sortie discrète. |
      T'es sûr...? |
      Loris: Fais-moi |
      confiance! |
      Ah merde! |
      Les crocos! |
      Lieutre: C'est moi ou elles |
      ont salement muté |
      vos bestioles? |
      Et c'est qui le |
      gar qui patauge avec? |
      Loris: On peut s'entendre, |
      camarade? Que dirais-tu |
      d'un petit en-cas pous tes |
      amis contre notre passage? |
      Sbire des crocos: Mes maîtres |
      reptiliens ont les |
      crocs mais ils en |
      ont marre de la |
      nourriture |
      fadasse! |
      Loris: Kenny? Va |
      chercher cinq |
      bouteilles de |
      ketchup à la |
      cantine. |
      Et rejoins-moi |
      avec dans les |
      sous-terrains. |
      C'est urgent. |
      Croco: Sssss... |
      Encore du Kennysss... |
      " |
  %li
    = image_tag 'S02/15sbires.jpg', alt: " |
      Loris: Le temps se |
      couvre. Tu crois |
      qu'il va pleuvoir? |
      Lieutre: Penser à ça alors |
      que tu viens de |
      sacrifier un de tes |
      camarades à des |
      monstres. Tu n'as |
      vraiment aucune |
      morale! |
      Mais je suppose que |
      c'est grâce à ça que |
      je suis dehors... |
      Alors pour répondre |
      à ta question, oui |
      nous avons là une |
      belle concentration |
      de nimbostratus |
      annonciatrice de |
      précipitations tout à |
      fait significatives. |
      Elwood: Ragondin furtif à |
      contrôle. Il y a du |
      nouveau ici. |
      Le raton laveur est de |
      retour dans son terrier |
      mais il est accompagné par un hostile potentiel. |
      Ok Contrôle. |
      Je les suis dans |
      l'appartement |
      et j'interviens. |
      " |
  %li
    = image_tag 'S02/16sbires.jpg', alt: " |
      Lieutre: Bon... J'ai bien besoin d'une |
      douche après tout ce que je |
      viens de traverser. |
      Loris: Ok... Mais tout de suite |
      après, vous me |
      montrerez vos |
      fameuses preuves. |
      Je ne doute pas de votre |
      reconnaissance. C'est un |
      nouveau départ pour moi et |
      une opportunité pour vous, |
      faites-moi confiance. |
      Elwood: Bouge pas enculé! Remue |
      une oreille et je te fais un |
      deuxième trou de balle! |
      Lieutre: Du calme! Il m'a |
      permis de m'évader. |
      C'est l'un des nôtres |
      désormais. |
      Faites connaissance, |
      moi je vais prendre |
      une douche. |
      " |
  %li
    = image_tag 'S02/17sbires.jpg', alt: " |
      Loris: Bonjour |
      camarade. |
      Laissez-moi me |
      présenter, je |
      m'appelle... |
      Elwood: Je m'en fous! |
      Jake? J'en ai un de |
      chez toi en face de |
      moi. Genre |
      prétentieux, beau |
      parleur. Il est fiable? |
      Jake: Loris? C'est tout |
      simplement le pire |
      d'entre nous. |
      Ne lui fais jamais |
      confiance. |
      Elwood: Bienvenue |
      dans la |
      maison... |
      Camarade! |
      Lieutre: Alors comme ça, il |
      vous a agressé |
      sans raison? |
      Elwood: Et oui... |
      Lieutre: Certainement un |
      conditionnement |
      caché. Simple |
      sécurité ou |
      échec d'un plan |
      machiavélique, on |
      ne le saura |
      jamais. |
      " |
  %li
    = image_tag 'S02/18sbires.jpg', alt: " |
      Loris: J'ai un de ces |
      mal au crâne |
      ce matin. Je |
      suis |
      totalement |
      mort... |
      Jake: Prends un |
      spécial P, |
      ça marche |
      contre la |
      gueule de bois. |
      Loris: Le pire, c'est que je ne me |
      souviens pas d'avoir |
      picolé hier. D'ailleurs, je ne |
      me souviens pas trop de |
      ma journée d'hier, en fait ... |
      Jake: C'est ce qu'on |
      appelle charger la |
      mule! |
      Loris: Tu m'étonnes. |
      Je me suis |
      envoyé un |
      message à moi- |
      même, c'est dire... |
      «De moi |
      Sujet: Ne leur fais |
      pas confiance!» |
      " |
  -# %li= image_tag 'S02/teaser01.jpg', alt: 'Youhou? Je suis toujours là!'
  -# %li
  -# = image_tag 'S02/teaser03.jpg', alt: " |
     Elwood: Allo Jake? Comment ça va? |
     Jake: Salut Elwood. Je suis un peu au |
     milieu d'un truc, mais je t'écoute. |
     Elwood: C'était pour te prévenir que le Capitaine |
     Justice l'avait mauvaise et a prévu une |
     descente en force mardi prochain sur |
     votre base serète de missiles. |
     Jake: Le Capitaine Justice! Ça va |
     être une boucherie. Je vais |
     tout de suite poser des rtt |
     pour ce jour-là. Merci pour le |
     tuyau. |
     Elwood: De rien, il faut bien |
     se serrer les |
     coudes! |
     Jake: À charge de revanche. |
     Le prochain resto est |
     pour moi. |
     " |
  -# %li
    = image_tag 'S02/teaser02.jpg', alt: " |
      Belote, |
      rebelote et |
      dix de der! |
      - J'ai encore gagné! |
      Vous ne pouvez |
      toujours pas me |
      manger! |
      - SSssSss..." |
  %li
    = image_tag 'S00/fini.jpg', alt: " |
      Loris: Quoi? C'est tout? |
      C'est fini! |
      (pour l'instant |
      ABonnez-vous au flux RSS pour ne pas manquer la suite! |
      " |
  -# %li= image_tag 'S00/toubicontinuede3.jpg', alt: 'Tou Bi Continuede 3'
  -# %li= image_tag 'S00/toubicontinuede2.jpg', alt: 'Tou Bi Continuede 2'
  -# %li= image_tag 'S00/toubicontinuede.jpg', alt: 'Tou Bi Continuede'
  -# %li= image_tag 'S00/recrutement-affiche.jpg', alt: 'Affiche Recrutement'
  -# %li= image_tag 'S00/splasch.jpg', alt: 'Affiche Splasch'
  -# %li= image_tag 'S00/sante.jpg', alt: 'Affiche Santé'
  -# %li= image_tag 'S00/vacances.jpg', alt: 'Affiche Vacances'
  %li
    = image_tag 'S00/genotypeJ.png', alt: " |
      Génotype J |

      Appellation courante : Jake |
      Statut : en service |
      Obéissance : bonne |
      Autonomie : bonne |
      Capacité offensive : nulle |

      Le modèle J est le plus ancien projet encore en activité. Premier clone |
      réellement fonctionnel, sa conception a mis l'accent sur ses capacités |
      de survie et son intelligence. L'objectif était de disposer d'unités |
      particulièrement résilientes sous le feu ennemi pour laisser le temps |
      au personnel d'élite de mener la mission à bien. |

      Toutefois, l'instinct de survie de ce modèle combiné avec son |
      intelligence engendre une prudence excessive, voir des actes de lâcheté. |
      Il a souvent tendance à interpréter librement les ordres afin d'éviter |
      tout risque. Ses intérêts sont essentiellement tournés vers le confort |
      et les plaisirs culinaires, ce qui est fort décevant. |

      Il n'en demeure pas moins fiable pour les tâches courantes où son |
      intégrité physique n'est pas mise en cause. Malgré des designs plus |
      récents, le type J n'a pas été retiré du service car en dépit de son |
      inefficacité au combat, il présente des coûts opérationnels bas. En |
      effet, ses frais de production ont largement été amortis grâce à sa |
      survivabilité supérieure aux autres modèles.  Considérant que personne |
      au département intendance n'a été en mesure de trouver trace d'une mise |
      hors service, le modèle J est assurément le clone |
      dont la longévité est la plus grande à ce jour. |
      " |

  %li
    = image_tag 'S00/genotypeK.png', alt: " |
      Génotype K |

      Appellation courante : Kenny |
      Statut : en service |
      Obéissance : excellente |
      Autonomie : nulle |
      Capacité offensive : médiocre |

      Au vu des  résultats mitigés du modèle J, l'autonomie a été réduite au |
      maximum, privilégiant l'obéissance aveugle aux ordres : l'instinct de |
      conservation lui est rigoureusement subordonné. |

      Ce  fut, là encore, un semi-échec. Le génotype K s'est avéré avoir un |
      taux de survie en mission (et même en repos) très inférieur aux |
      prévisions. Son interprétation littérale des ordres et son manque |
      d'initiative, corolaire de son obéissance à l'autorité, sont à |
      l'origine de beaucoup d'échecs. Il s'avère de surcroît qu'il est très |
      influençable : les autres clones ont appris à profiter de sa docilité à |
      leur propre profit. |

      Conséquence non anticipée de ses caractéristiques psychologiques, ce |
      modèle ne parle jamais. Non pas qu'il en soit physiquement incapable, |
      mais plutôt parce qu'il n'en éprouve pas le besoin. |

      En raison du fort taux de perte sur ce type, la chaine de production a |
      été optimisée. Il y a toujours plusieurs K en incubation anticipée afin |
      de pouvoir assurer une activation massive et rapide. De tous les types |
      de clones, c'est celui-ci dont le nombre d'exemplaires produits est le |
      plus élevé. |

      Docile et aisé à fabriquer, pour un coût de revient unitaire modique, le |
      modèle K conserve une utilité opérationnelle en l'attente d'un |
      remplacement satisfaisant. |
      " |

  %li
    = image_tag 'S00/genotypeL.png', alt: " |
      Génotype L |

      Appellation courante : Loris |
      Statut : en service |
      Obéissance : médiocre |
      Autonomie : excellente |
      Capacité offensive : bonne |

      Fort de l'expérience des deux précédents modèles, le Professeur a |
      décidé d'un compromis, tant sur le rapport coût/capacité que sur |
      l'instinct de survie. |

      La caractéristique d'obéissance a été diminuée par rapport au type K, |
      mais reste bien supérieure à celle du J. Le challenge consistait à |
      augmenter la capacité de prise d'initiative, sans que cela ne se fasse |
      au détriment de la docilité. Pour ce faire, une voie détournée à été |
      employée, consistant à augmenter au maximum le besoin de reconnaissance |
      et de valorisation. |

      Celui-ci est un véritable atout pour le bon accomplissement des |
      objectifs. Toutefois il n'est pas rare qu'il s'arroge les réussites de |
      ses camarades, voire les mène à l'échec pour briller comparativement à |
      eux quand cette solution s'avère plus aisée que de réussir la mission. |

      Désireux de compenser les lacunes oratoires du type K, le Professeur a |
      sélectionné pour Loris des gènes améliorant les capacités verbales. |
      Celles-ci, couplées avec son égotisme et son ambition exacerbée, font |
      qu'il parle beaucoup, voir trop. Il a de plus tendance à se placer en |
      position d'autorité vis-à-vis des autres sbires et à les utiliser pour |
      servir ses intérêts. |

      Le modèle L connaît un taux de perte modéré pour une efficacité |
      correcte.  Néanmoins, sa loyauté reste à surveiller car elle est |
      potentiellement plus faible que chez les autres clones en raison des |
      caractéristiques mentales sélectionnées. |
      " |

  %li
    = image_tag 'S00/genotypeM.png', alt: " |
      Génotype M |

      Appellation courante : Max |
      Statut : en service |
      Obéissance : bonne |
      Autonomie : bonne |
      Capacité offensive : bonne |

      Ce clone devait être la réponse ultime, complétant le modèle L sans en |
      avoir les défauts et bénéficiant de l’expérience acquise après étude |
      sur le terrain des modèles J et K. |

      Afin de palier aux insuffisances des précédents types, le Professeur a |
      opté pour une approche radicale et audacieuse en le dotant d'empathie. |

      Celle-ci lui permet une meilleure intégration opérationnelle au sein du |
      groupe et constitue une motivation intrinsèque au bon accomplissement |
      des objectifs.  Grâce à l'empathie, le génotype M place l'intérêt de la |
      mission en première priorité sans pour autant perdre ses capacités de |
      discernement. |

      Toutefois, le Professeur anticipant l'émergence de cas de conscience |
      chez ce modèle, il l'a doté d'une solide agressivité et d'une |
      prédisposition à la brutalité afin qu'il reste insensible à la détresse |
      de ses victimes. |

      Un renforcement comportemental positif vis-à-vis de la violence a donc |
      été génétiquement induit par modification des récepteurs cellulaires |
      hypothalamiques. |

      Entré en service depuis peu, son bilan opérationnel est satisfaisant |
      pour le moment mais il est encore trop tôt pour savoir si le modèle M |
      est la réussite escomptée. Il devrait de toute façon être, comme tous |
      les autres, rendu obsolète par la mise en service ultérieure du sbire |
      de type N. |
      " |
