---
title: Épisode 3
date: 2021-09-07
---

%ul.simpleCarousel(data-delay='-1')
  %li
    = image_tag 'S03/sbires300.png', alt: 'Sbires! |
      Unis contre le "N"' |
  %li
    = image_tag 'S03/sbires301.png', alt: " |
      Louis-Anatole présentant l'opération \"pain d'épices\" aux sbires gentils : Nous allons porter un coup décisif à l'ennemi ! |
      Nous avons l'opportunité de pénétrer au coeur de leur base grâce à un passage secret que j'ai découvert |
      en m'échapant de leurs griffes. Grâce à l'effet de surprise, nos pertes devraient être très acceptables.  |
      Louis-Anatole aux sbires gentils : Pendant ma captivité, alors même qu'ils me prodiguaient un massage des gencives |
      pour me faire parler, c'est moi qui suis parvenu à leur soutirer des informations. Le professeur Poopy |
      se prépare à lâcher sur le monde un machiavélique projet N. Ce projet est tellement puissant qu'il remplacera |
      tous les sbires du Professeur de manière définitive ! |
      Elwood (pensée) : Oh putain, ça sent le sapin." |
      
  %li
    = image_tag 'S03/sbires302.png', alt: " |
      Équipière d'Elwood : Enfin, on passe à l'action ! Ma vengeance est proche. |
      Elwood s'éclipsant sous l'oeil contrarié de Louis-Anatole : Oups pardon ! |
      Elwood au téléphone dans les toilettes : Jake ? Mauvaise nouvelle. J'ai appris que Poopy |
      a dans les tuyaux un projet N tellement balaise qu'il n'aura plus besoin de toi. |
      On a prévu de vous faire la misère demain à 08h30 pour détruire ce truc. Évites de traîner dans les parages. |
      Jake en opération dans un buisson : À l'heure du ptit-dej ? Vous autres les gentils vous ne respectez donc rien. |
      Comme j'ai pas envie de me faire liquider par Poopy, je déconnecterai les alarmes et dévérouillerai |
      les portes pour vous faciliter la tâche. " |
  %li
    = image_tag 'S03/sbires303.png', alt: " |
    Loris allongé sur un divan : Mon existence n'a aucun sens. Je ne suis qu'un vulgaire clone destiné à servir et périr. |
    Toute ma vie on m'a menti et manipulé. J'ai piraté les serveurs pour vérifier. On l'est tous. |
    Le pire est qu'ils se préparent à nous remplacer par la nouvelle génération \"N\". |
    Le professeur nous prépare un plan social à base de crocos et de chambre de désintégration. |
    Mais clone ou pas, je ne suis pas n'importe qui ! J'ai l'instinct de survie. |
    Je ne me laisserai pas mener à l'abattoir sans me battre. |
    Une bombinette dans le labo et plus de projet N ni de retraite anticipée. |
    Ça me laissera le temps de prendre la place du patron. Il verra qui est obsolète finalement. " |

  %li
    = image_tag 'S03/sbires304.png', alt: " |
    Jake crochetant la porte du projet N : Loris ? |
    Loris avec une bombe dans les main : Jake... |
    Jake : On s'est pas vu ? |
    Loris : On s'est pas vu." |
  %li
    = image_tag 'S03/sbires305.png', alt: " |
      Louis-Anatole menant les sbires gentils dans un escaler s'enfonçant dans le sol : Suivez-moi. |
      L'entrée secrète est par ici. Attention ça glisse." |
  %li
    = image_tag 'S03/sbires306.png', alt: " |
      Louis-Anatole faisant signe aux sbires gentils de s'arrêter : Stop ! Nous arrivons à la fosse des crocodiles mutants |
      Crocodile mutant : Revloimà l'autre humain qui parle trossss... Tu as de quoi payer ton passssage j'espère ? |
      Louis-Anatole : J'ai ramené d'excellents steacks de soja bio, sauce gingembre, mangue carabao, |
      issue de l'agriculture équitable, messires reptiliens.À moins bien sûr que le sens du devoir ne pousse |
      l'un d'entre-nous au sacrifice ultime pour la cause. Hein ? |
      Crocodile mutant : On préféreraisss une barre de plutonium... ou un séquenssseur génomique.. |
      Louis-Anatole : Ça tombe bien, je ne sors jamais sans." |
  %li
    = image_tag 'S03/sbires307.png', alt: " |
    Kenny examinant son arme alors qu'un sbire gentil s'apprête à le poignarder dans le dos (en pensée) : C'est du 9mm |
    nos nos nouvelles armes de dotation ? |
    Le coup part par accident et blesse le sbire gentil, Kenny s'enfuit." |
  %li
    = image_tag 'S03/sbires308.png', alt: " |
      Lieutenante : Max, je dois vous féliciter. Vous êtes les meilleur élément du groupe. |
      Toujours présent, motivé, efficace... et d'un sang-froid olympien. |
      Max : Merci patronne. |
      Kenny fait irruption en tirant sur ses poursuivants. |
      Lieutenante : On nous attaque ! Aux armes ! Liquidez-moi ces intrus ! |
      Max : À vos ordres patronne ! On va leur faire regretter d'être venus. |
      Les méchants abbattent un sibre gentil." |
  %li
    = image_tag 'S03/sbires309.png', alt: " |
    Max : AHHH !!!  Approchez bande de chacals ! Il y en aura pour tout le monde ! |
    Max (plus fort) : J'vais tous vous buter ! |
    Lieutenante : Du calme Max. Ils ont leur compte. Vas plutôt protéger le laboratoire. |
    Max (assomant la Lieutenante du pommeau de son tanto) : RAAAAAAHH !!! TUER ! TUER ! TUER !" |
  %li
    = image_tag 'S03/sbires310.png', alt: " |
      Elwood : T'as entendu ? |
      Équipière : Oui, ce sont les couinements de terreur des vermines qui sentent le souffle glacial de la mort |
      descendre sur leur nuque.Ils ne s'attendaient pas à ce que l'on vienne leur faire expier leurs méfaits jusqu'au fond de |
      leur terrier. |
      Max débarque et tire sur Elwood puis rate l'équipière. |
      Équipière : Je m'appelle Daria Lambda. Tu as tué ma soeur jumelle. Prépare-toi à mourir. |
      Daria tire dans le genoux de Max et lui prend son tanto : Il te reste une seconde pour trouver |
      l'ultime chemin de la rédemption. As-tu une dernière parole qui te rachèterait à mes yeux, misérable cloporte ? |
      Max : Tuer... |
      Daria abat Max d'une balle dans la nuque après l'avoir poignardé : Deux précautions valent mieux qu'une. |
      Et en plus c'est cathartique." |
  %li
    = image_tag 'S03/sbires311.png', alt: " |
    Elwood se tenant les fesses : Ça fait mal ! Ce con m'a tiré dans le cul ! |
    Aide-moi à me relever et sors-moi de ce merdier. |
    Daria : La procédure de gestion d'un équipier à terre a été mise à jour récemment. |
    Laisse-moi le temps de la compulser. |
    Elwood : On s'en branle de la procédure, emmène-moi fissa au poste médical qu'ils me bouchent |
    mon deuxième trou de balle ! |
    Procédure sous forme de logigramme : blessure d'un équipier. |
    L'équipier est blessé à l'épaule ou au flanc. |
    Oui : l'équiper déclare \"la balle n'a fait que traverser\" ou \"c'est juste une égratignure\" et reste stoïque. |
    La mission continue ! |
    Non : L'équipier est blessé à un membre supérieur |
    Oui : L'équipier se fait un garot, reste combatif et déclare \"allons fumer ces fils de pute\" |
    ou phrase équivalente, la mission continue ! |
    Non : L'équipier est blessé à l'abdomen et n'avance plus. |
    L'équipier reste digne et déclare : \"je crois que c'est la fin de la route pour moi.\" |
    et reste lucide sur le fait que les secours arriveront trop tard. |
    L'équipier déclare \"continuez sans moi, je vais les ralentir.\" |
    Rendre hommage à son courage, lui faire une promesse et lui laisser un chargeur ou une grenade. |
    La mission continue ! |
    Daria tendant une grenade à Elwood : Ton cas n'est pas couvert par la procédure, désolée. |
    Je n'ai sans doute le droit mais prends cette grenade. |
    Elwood : Euh... J'aurais préféré une trousse de soin." |
  %li
    = image_tag 'S03/sbires312.png', alt: " |
    Elwwod au téléphone : Jake ? Je suis dans la merde. J'ai pris une bastos, je peux plus marcher. |
    Mon équipière m'a laissé derrière comme un con. T'es où ? |
    Jake au milieu des poubelles : Je suis planqué dans le local le plus sûr de la base ! |
    Mais pour toi, je vais faire un effort. Bouge pas, j'arrive ! |
    Jake aidant Elwood à marcher : Accroche-toi Elwood, je connais un bon resto pas loin d'ici. |
    Elwood : Tu voulais dire un bon hosto, j'espère ?" |
  %li
    = image_tag 'S03/sbires313.png', alt: " |
    Lieutenante aux sbires méchants : Ils ont anéanti le projet N et ont tout fait sauter. |
    Comment avez-vous pu laisser faire ça, bande d'incapables ? |
    Louis-Anatole aux sbires gentils : Devant la vigueur de notre assaut, le professeur a préféré |
    faire exploser le projet N de peur que nous en prenions le contrôle. C'est une grande victoire !." |
