---
title: Interlude
date: 2019-03-02
---

%ul.simpleCarousel(data-delay='-1')
  %li
    = image_tag 'interlude/001geeko.png', alt: 'Sbires! |
      Traque à Geekopolis' |
  %li
    = image_tag 'interlude/002geeko.png', alt: " |
      Loris: Alors Jake, tu as repéré la cible? |
      Jake: Pas encores, mais je suis à 100% dessus. |
      J'ai trouvé un poste d'observation stratégiquement placé" |
  %li
    = image_tag 'interlude/003geeko.png', alt: " |
      Jake: Bon allez... Faut bien s'y mettre si on veut rentrer à l'heure |
      pour la soupe. En plus la patronne n'est vraiment pas d'humeur |
      aujourd'hui" |
  %li
    = image_tag 'interlude/004geeko.png', alt: ''
  %li
    = image_tag 'interlude/005geeko.png', alt: " |
      Fille de l'accueil: Je n'ai pas vu votre nièce, mais ses autres oncles |
      sont là-bas. |
      Jake: Vous pourriez diffuser un message pour que nous puissions mettre |
      la main sur cette petite friponne? |
      Fille de l'accueil 2: Bien sûr. |
      Comment s'appelle cette chère enfant?" |
  %li
    = image_tag 'interlude/006geeko.png', alt: ' |
      Haut parleur: La petite Rendstoisansfairedhistoiresraclure est attendue |
      par ses gentils tontons au point accueil.' |
  %li
    = image_tag 'interlude/007geeko.png', alt: ' |
      Vraiment sympa la nouvelle collection automne-hiver de chez Heckler & |
      Koch.' |
  %li
    = image_tag 'interlude/008geeko.png', alt: " |
      Cible: Aidez-moi, des hommes mal intentionnés me cherchent. Savez-vous |
      comment sortir d'ici discrètement? |
      Homme au chapeau: Non mais je peux vous faire changer de tête." |
  %li
    = image_tag 'interlude/009geeko.png', alt: ' |
      Homme au chapeau: Comme ça, ils ne vous reconnaitront jamais.' |
  %li
    = image_tag 'interlude/010geeko.png', alt: ''
  %li
    = image_tag 'interlude/011geeko.png', alt: " |
      Loris: Hep, vous là-bas! Venez par ici bande de guignols, j'ai des |
      questions à vous poser." |
  %li
    = image_tag 'interlude/012geeko.png', alt: " |
      Loris: Euh... Non en fait rien. Désolé... |
      Stormtrooper: C'est lui le droïde que l'on recherche, Chef?" |
  %li
    = image_tag 'interlude/013geeko.png', alt: ' |
      Loris: Houlà... On ne va pas se faire la guerre entre clones tout de |
      même... Et puis je suis un grand admirateur, faites-moi confiance.' |
  %li
    = image_tag 'interlude/014geeko.png', alt: ' |
      Cible: Bonjour, il paraît que vous êtes un expert en liberté? |
      Des gens ici en ont après la mienne.' |
  %li
    = image_tag 'interlude/015geeko.png', alt: " |
      Pouhiou: Don't panic! J'ai la réponse à votre problème." |
  %li
    = image_tag 'interlude/016geeko.png', alt: " |
      Cible: Une cape d'invisibilité? |
      Pouhiou: Beaucoup mieux: une serviette! Personnellement je ne sors |
      jamais sans." |
  %li
    = image_tag 'interlude/017geeko.png', alt: ' |
      La cible met la serviette sur sa tête et se cogne dans un ubunteros en |
      partant.' |
  %li
    = image_tag 'interlude/018geeko.png', alt: ' |
      La cible attend au milieu de caisses et de créatures fantastiques |
      empaillées.' |
  %li
    = image_tag 'interlude/019geeko.png', alt: " |
      Rôliste en blouse blanche: Non je ne l'ai pas vue mais cette potion |
      t'aidera. |
      Jake: Vous êtes sûr qu'avec ça je trouverai ce que je cherche |
      vraiment?" |
  %li
    = image_tag 'interlude/020geeko.png', alt: ' |
      Jake fouillant là où la cible se tenait avant: Miam! un saucisson de |
      lapin vorpale.' |
  %li
    = image_tag 'interlude/021geeko.png', alt: ' |
      Cible: Comme je vous dit, ceux qui me cherchent sont nombreux, armés et |
      ils en veulent à ma vie. |
      Vous pensez être capables de me protéger?' |
  %li
    = image_tag 'interlude/022geeko.png', alt: " |
      Air softer 1: Affirmatif ma petite dame. Le bijou que j'ai entre les |
      mains va les accueillir avec un mur de plomb. |
      200 bastos de 5.56 crachées à 800 coups minutes et ils pourront aller |
      chercher du boulot comme passoire. |
      Air softer 2: Et sinon... Headshot." |
  %li
    = image_tag 'interlude/023geeko.png', alt: " |
      Cible: Ce filet camo doit être en poil d'alpaga. Si je reste, c'est |
      le choc anaphylactique assuré." |

  %li
    = image_tag 'interlude/024geeko.png', alt: " |
      Jake: Trouvez cette personne. Vous êtes libre d'employer toutes les |
      méthodes nécessaires. Mais je la veux vivante. Pas de désintégration!" |
  %li
    = image_tag 'interlude/025geeko.png', alt: ' |
      Boba Fett: Comme vous voudrez. Quel est le montant de la prime?' |
  %li
    = image_tag 'interlude/026geeko.png', alt: " |
      Jake: Une prime? Et la solidarité entre bad guys, ça compte pas? |
      J'ai même pas de tickets resto!" |

  %li
    = image_tag 'interlude/027geeko.png', alt: ' |
      Vendeur: Notre robot peut tout faire, y compris vous protéger de vos |
      ennemis, bien sûr.' |
  %li
    = image_tag 'interlude/028geeko.png', alt: " |
      Cible: Donc si je me mets derrière, il empêchera quiconque de s'en |
      prendre à moi?" |
  %li
    = image_tag 'interlude/029geeko.png', alt: " |
      Vendeur: Tout à fait. Dès qu'on aura codé la fonctionnalité \"garde du |
      corps\"... |
      On devrait pouvoir l'intégrer à la prochaine mise à jour. |
      D'ici trois mois en bêta si tout va bien." |
  %li
    = image_tag 'interlude/030geeko.png', alt: " |
      Cible: Ah... Gardez-moi en un de côté. |
      J'essaierai de me faire traquer à nouveau pour les tests." |

  %li
    = image_tag 'interlude/031geeko.png', alt: " |
      Jake (face à R2D2): Purée! Mais c'est quoi ce truc? Même les poubelles |
      bougent ici!" |
  %li
    = image_tag 'interlude/032geeko.png', alt: " |
      Jake (face à R2D2): Désolé pour la canette! Ca rentrait tout seul, j'ai |
      cru que c'était fait pour. Pas la peine de siffler comme ça." |
  %li
    = image_tag 'interlude/033geeko.png', alt: " |
      Jake (face à R2D2): Mais il essaie de me rouler dessus ce con. Arrête! |
      J'te préviens, si t'as pas aimé la bière, t'aimeras pas les pruneaux!" |
  %li
    = image_tag 'interlude/034geeko.png', alt: ' |
      Cible: Ils sont dangereux et bien entraînés. Pourriez-vous me cacher?' |
  %li
    = image_tag 'interlude/035geeko.png', alt: ' |
      Je peux faire mieux que ça. Grâce à ce simulateur de combat tu vas |
      pouvoir apprendre à te défendre. Sinon, tu devrais trouver un MOOC de |
      CQC DIY sur le WWW.' |
  %li
    = image_tag 'interlude/036geeko.png', alt: ' |
      Cible: Merci, mais en face, ils ont des flingues. Alors, le saturnisme |
      foudroyant, très peu pour moi. Je vais plutôt opter pour la méthode: |
      F(leeing) U(rgently) I(mmediate) R(etreat).' |
  %li
    = image_tag 'interlude/037geeko.png', alt: ' |
      Max: Dis-donc toi! Dis-moi où est cette fille. Je sais que tu sais. |
      Aryeom: 그 여자 너희 뒤에 있잖아, 이 멍청이들아! * |
      *: Elle est derrière-vous, imbéciles.' |
  %li
    = image_tag 'interlude/038geeko.png', alt: " |
      Max: Je cause pas le marmotte. Tu l'as vue oui ou non? |
      Bon... Je reviendrai et si tu m'as caché des choses, tu le regretteras." |
  %li
    = image_tag 'interlude/039geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/040geeko.png', alt: " |
      Kenny (pensée) : Je vais leur demander des informations sur la cible. |
      Ils l'ont sans doute vue. |
      Homme derrière un stand: Ah je vois que nous avons un courageux |
      volontaire pour tester le poste de pilotage expérimental de notre |
      dirigeable. |
      Avec une chemise rouge, en plus! Tous nos précédents capitaines |
      adoraient cette couleur." |
  %li
    = image_tag 'interlude/041geeko.png', alt: ' |
      Kenny (pensée): Plutôt confortable comme fauteuil, mais pourquoi |
      est-il branché sur le secteur? |
      Bon, ici au moins on me laisse manipuler les grenades.' |
  %li
    = image_tag 'interlude/042geeko.png', alt: " |
      Kenny (pensée): Comment ça \"psshhitt\"? |
      Si je baisse ce levier, tout va peut-être s'arrêter." |
  %li
    = image_tag 'interlude/043geeko.png', alt: " |
      Max: T'étais où? J'arrive à rien avec ces crétins. |
      Ils sont pas coopératifs du tout. |
      Loris: Ahaha... C'est ton inexpérience qui parle. |
      Laisse moi faire, je vais te montrer comment procède un expert. |
      Qu'as-tu fait de Kenny, au fait? |
      Au loin: Boum!" |
  %li
    = image_tag 'interlude/044geeko.png', alt: " |
      Loris: Dites moi, chers autochtones aux couvre-chefs si pittoresques, |
      auriez-vous entraperçu cette fugitive? La vague lueur d'intelligence |
      que je perçois au fond de votre regard torve signifie-t-elle que vous |
      m'avez compris? Faudrait-il sinon que je simplifie mon propos, |
      voire que je dessinasse?" |
  %li
    = image_tag 'interlude/045geeko.png', alt: " |
      Femme au chapeau: Bien sûr, nous l'avons vu s'échapper par la porte des |
      latrines, ou WC dans votre langage de rustre. Elle s'est assurément |
      enfuie par là. Vous la retrouverez sans mal dans les égouts qui sont |
      sans nul doute votre milieu naturel. |
      Max: J'ai observé. C'est bien toi le meilleur!" |
  %li
    = image_tag 'interlude/046geeko.png', alt: " |
      Loris: Je t'y prends, Jake! Poopy nous a confié une mission capitale |
      et toi tu tires  au flanc! Dégage, je vais encore devoir faire ton |
      boulot à ta place. |
      Jake: Quel rabat-joie. Moi depuis la mission dans la librairie, |
      j'apprécie la littérature. On a beau être sbire, on en est pas moins |
      sensible." |
  %li
    = image_tag 'interlude/047geeko.png', alt: " |
      Loris: Tu l'as vue? |
      Jake (en pensée) : J'ai comme une envie de faire ce pour quoi on me |
      paie..." |
  %li
    = image_tag 'interlude/048geeko.png', alt: " |
      Loris: Maintenant que j'ai réuni la troupe, on va bien finir par la |
      trouver. C'est grand mais elle ne pourra pas indéfiniment échapper |
      à notre vigilance." |
  %li
    = image_tag 'interlude/049geeko.png', alt: " |
      Fugitive: Ils sont sur mes talons et je n'ai pas le temps de vous |
      expliquer mais pouvez-vous me cacher, s'il vous plaît? |
      Femme derrière le stand: Ne serait-ce que par solidarité entre femmes |
      coiffées d'un couvre-chef élégant, je ne peux que dire oui." |
  %li
    = image_tag 'interlude/050geeko.png', alt: ' |
      Loris: Vous êtes sûre que cette tête ne vous dit rien? |
      Femme derrière le stand: Non, non...' |
  %li
    = image_tag 'interlude/051geeko.png', alt: " |
      Loris: Tu commences sérieusement à m'énerver avec tes bouquins! |
      Je ne lis pas quand je travaille, moi. Et je travaille tout le temps. |
      La médiocrité te convient sans doute, mais elle se met en travers de mon |
      ambition. Alors au boulot. |
      Jake: Mais t'as perdu ma page avec tes conneries!" |
  %li
    = image_tag 'interlude/052geeko.png', alt: " |
      Fugitive: Merci consœur chapelière. Je reviendrai prendre le thé un |
      de ces jours, mais là, je suis pressée. |
      Femme derrière le stand: Allez, cours petit lapin! Les vertes prairies |
      de la liberté t'attendent." |
  %li
    = image_tag 'interlude/053geeko.png', alt: " |
      Jake: Tu penses que Kenny peut s'en sortir? Il est quand même pas très |
      loquace." |
  %li
    = image_tag 'interlude/054geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/055geeko.png', alt: ' |
      Jake: Les autres sont pas plus bavards. Ca va nous prendre des plombes. |
      Allez, on se casse.' |
  %li
    = image_tag 'interlude/056geeko.png', alt: " |
      Jake: Pardon de m'excuser du dérangement pendant votre bière, mais |
      auriez-vous croisé cette personne?" |
  %li
    = image_tag 'interlude/057geeko.png', alt: " |
      Loris: Pousse toi, Jake. On n'obtient rien en s'écrasant devant les |
      péquenots. Alors, poivrot? Où est la fille? Crache le morceau. |
      Nain du chaos: Quoi?" |
  %li
    = image_tag 'interlude/058geeko.png', alt: ' |
      hors champs: A toi de jouer Kenny! |
      Nain du chaos: BEUARGH!!!' |
  %li
    = image_tag 'interlude/059geeko.png', alt: " |
      Max: Dites les gars, j'ai cru voir passer un lapin qui lui ressemblait |
      drôlement. |
      Nain du chaos: Groumph! |
      Nain du chaos: BEUARGH!!!" |
  %li
    = image_tag 'interlude/060geeko.png', alt: " |
      Fugitive: Mmmfff... J'y arrive pas... Il doit y avoir une sécurité |
      enfant." |
  %li
    = image_tag 'interlude/061geeko.png', alt: " |
      Loris: Mmmff... |
      C'est verrouillé. Je subodore pourtant sa présence. Mon instinct ne me |
      trompe jamais." |
  %li
    = image_tag 'interlude/062geeko.png', alt: ' |
      Jake: Attends, on doit pouvoir trouver une méthode moins fatigante pour |
      ouvrir cette porte.' |
  %li
    = image_tag 'interlude/063geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/064geeko.png', alt: " |
      Jake: Je précise: moins fatigant et surtout sans explosion. |
      Loris: Pas touche! Tu as déjà oublié ce qu'il s'est passé la dernière |
      fois que tu as joué avec des grenades?" |
  %li
    = image_tag 'interlude/065geeko.png', alt: ' |
      Loris: Alors que faisons nous? Je vous rappelle que cette chose persiste |
      à nous resister. |
      Passante: Vous faites comme vous voulez mais considérant que cette porte |
      est factice, elle risque de persister encore un bon moment...' |
  %li
    = image_tag 'interlude/066geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/067geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/068geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/069geeko.png', alt: 'Pas de texte'
  %li
    = image_tag 'interlude/070geeko.png', alt: ' |
      Jake: Tu vas cracher le morceau?' |
  %li
    = image_tag 'interlude/071geeko.png', alt: " |
      Jake: Regarde la mieux! Je suis en train de perdre patience et j'ai |
      le doigt tout tétanisé à force de me retenir. |
      J'ai la détente hypersensible. Alors essaye de ne pas me décevoir si tu |
      ne veux pas que je repeigne le poteau avec ta cervelle. |
      Loris: Passe à table! |
      Jake: Dis pas ça Loris, on a pas eu le temps de déjeuner et j'ai assez |
      faim comme ça. Ça me rend grognon..." |
  %li
    = image_tag 'interlude/072geeko.png', alt: " |
      Fugitive: s'ils vous interrogent, vous pourriez leur dire que je suis |
      partie vers... Vous m'entendez? Vous me voyez? Vous savez que votre |
      braguette est ouverte? Manifestement non!" |
  %li
    = image_tag 'interlude/073geeko.png', alt: " |
      Jake: A l'heure qu'il est, elle doit probablement essayer de se cacher |
      au fond d'une poubelle, terrorisée et nerveusement à bout. |
      La pression de la traque va la faire craquer. Elle va faire une faute |
      très bientôt. On aura qu'à la cueillir." |
  %li
    = image_tag 'interlude/074geeko.png', alt: " |
      Hôte1: Quelques biscuits au miel de rose du Tibet? L'émerveillement |
      de vos papilles se marie à merveille avec le massage Tui-Na que notre |
      expert vous prodigue. |
      Fugitive: Bin en fait, ça me chatouille! |
      Hôte2: Je sens que vos chakras vibrent dans le pourpre. Vous êtes cernée |
      par des énergies négatives." |
  %li
    = image_tag 'interlude/075geeko.png', alt: " |
      Hôte1: Une tasse de Da-Hong-Pao vous détendra. |
      Fugitive: Vous n'auriez pas une petite bière plutôt?" |
  %li
    = image_tag 'interlude/076geeko.png', alt: " |
      Jake: Vous là-haut! Perché comme vous êtes, vous n'auriez pas vu |
      cette personne?" |
  %li
    = image_tag 'interlude/077geeko.png', alt: " |
      Le géant: J'ai l'œil pour repérer ce qui a de longues oreilles et j'ai |
      vu un petit lapin qui lui ressemblait fortement." |
  %li
    = image_tag 'interlude/078geeko.png', alt: " |
      Femme chienne: Je ne l'ai pas vue mais je connais une bonne chasseuse |
      de lapin de l'autre côté du miroir. |
      Jake (pensée): Elle a l'air d'avoir du flair, mais elle a aussi de |
      grandes dents et de grandes oreilles. Elle me rappelle ma grand-mère." |
  %li
    = image_tag 'interlude/079geeko.png', alt: " |
      Alice: Tu m'auras fait courir longtemps mais cette fois tu ne |
      m'échappera pas. Je vais te choper mon mignon petit léporidé. |
      Fugitive: Oh merde!" |
  %li
    = image_tag 'interlude/081geeko.png', alt: " |
      Jake: De nombreuses personnes l'ont vue se réfugier ici. Ca ne vous dit |
      vraiment rien? |
      Alice: Non, non..." |
  %li
    = image_tag 'interlude/082geeko.png', alt: " |
      Jake: Mais ce n'est pas de la fourrure blanche au milieu de cette |
      flaque de sang sous la table? |
      Alice: Je ne vois pas de quoi vous voulez parler." |
  %li
    = image_tag 'interlude/083geeko.png', alt: " |
      Jake: Ne me prend pas pour un jambon. |
      Dis moi tout de suite où se trouve le civet, sinon c'est toi que je |
      farcis aux pruneaux!" |
  %li
    = image_tag 'interlude/084geeko.png', alt: " |
      Alice: Tu crois me faire peur avec ton calibre? Si tu ne décampes |
      pas immédiatement, le mien va transformer ton buffet en passoire. |
      Casse toi! |
      Jake: Ok! Ok! Pas la peine de s'énerver!" |
  %li
    = image_tag 'interlude/085geeko.png', alt: " |
      Alice: Mmgmr.. Finalement, c'est pas si bon le lapin, surtout cru. |
      Peut-être qu'avec des champignons..." |
  %li
    = image_tag 'interlude/099geeko.png', alt: ' |
      Femme blessée: Grrrr... Si je tenais celui qui a fait exploser cette |
      grenade! |
      Jake: Tiens? On dirait du Kenny.' |
