---
layout: rss
---

- root = 'http://sbires.echarp.org'

%item
  %title Épisode 03 - Planche 00
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires300.jpg')
  %link= root + image_path('S03/sbires300.jpg')
  %enclosure{ url: root + image_path('S03/sbires300.jpg'), type: 'image/jpeg',
    length: '1536250' }
%item
  %title Épisode 03 - Planche 01
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires301.jpg')
  %link= root + image_path('S03/sbires301.jpg')
  %enclosure{ url: root + image_path('S03/sbires301.jpg'), type: 'image/jpeg',
    length: '1210395' }
%item
  %title Épisode 03 - Planche 02
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires302.jpg')
  %link= root + image_path('S03/sbires302.jpg')
  %enclosure{ url: root + image_path('S03/sbires302.jpg'), type: 'image/jpeg',
    length: '1387881' }
%item
  %title Épisode 03 - Planche 03
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires303.jpg')
  %link= root + image_path('S03/sbires303.jpg')
  %enclosure{ url: root + image_path('S03/sbires303.jpg'), type: 'image/jpeg',
    length: '1488863' }
%item
  %title Épisode 03 - Planche 04
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires304.jpg')
  %link= root + image_path('S03/sbires304.jpg')
  %enclosure{ url: root + image_path('S03/sbires304.jpg'), type: 'image/jpeg',
    length: '1512920' }
%item
  %title Épisode 03 - Planche 05
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires305.jpg')
  %link= root + image_path('S03/sbires305.jpg')
  %enclosure{ url: root + image_path('S03/sbires305.jpg'), type: 'image/jpeg',
    length: '1941011' }
%item
  %title Épisode 03 - Planche 06
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires306.jpg')
  %link= root + image_path('S03/sbires306.jpg')
  %enclosure{ url: root + image_path('S03/sbires306.jpg'), type: 'image/jpeg',
    length: '1004655' }
%item
  %title Épisode 03 - Planche 07
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires307.jpg')
  %link= root + image_path('S03/sbires307.jpg')
  %enclosure{ url: root + image_path('S03/sbires307.jpg'), type: 'image/jpeg',
    length: '1340637' }
%item
  %title Épisode 03 - Planche 08
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires308.jpg')
  %link= root + image_path('S03/sbires308.jpg')
  %enclosure{ url: root + image_path('S03/sbires308.jpg'), type: 'image/jpeg',
    length: '1495735' }
%item
  %title Épisode 03 - Planche 09
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires309.jpg')
  %link= root + image_path('S03/sbires309.jpg')
  %enclosure{ url: root + image_path('S03/sbires309.jpg'), type: 'image/jpeg',
    length: '1517629' }
%item
  %title Épisode 03 - Planche 10
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires310.jpg')
  %link= root + image_path('S03/sbires310.jpg')
  %enclosure{ url: root + image_path('S03/sbires310.jpg'), type: 'image/jpeg',
    length: '1529817' }
%item
  %title Épisode 03 - Planche 11
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires311.jpg')
  %link= root + image_path('S03/sbires311.jpg')
  %enclosure{ url: root + image_path('S03/sbires311.jpg'), type: 'image/jpeg',
    length: '1250237' }
%item
  %title Épisode 03 - Planche 12
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires312.jpg')
  %link= root + image_path('S03/sbires312.jpg')
  %enclosure{ url: root + image_path('S03/sbires312.jpg'), type: 'image/jpeg',
    length: '1560250' }
%item
  %title Épisode 03 - Planche 13
  %pubDate 08 Sept 2021 00:00:00 GMT
  %description
  %guid= root + image_path('S03/sbires313.jpg')
  %link= root + image_path('S03/sbires313.jpg')
  %enclosure{ url: root + image_path('S03/sbires313.jpg'), type: 'image/jpeg',
    length: '1455605' }
