---
layout: rss
---

- root = 'http://sbires.echarp.org/'

%item
  %title Épisode 01 - Planche 00
  %pubDate 06 May 2013 00:00:00 GMT
  %description
  %guid= root + image_path('S01/00sbire.jpg')
  %link= root + image_path('S01/00sbire.jpg')
  %enclosure{ url: root + image_path('S01/00sbire.jpg'), type: 'image/jpeg',
    length: '141691' }
%item
  %title Épisode 01 - Planche 01
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Tu vois Kenny, ton problème c'est que tu manques de confiance en
    toi.
    Moi j'ai confiance en moi. Tu devrais faire pareil.
    Avoir confiance en moi.
    Max: Salut, je suis nouveau. On va travailler ensemble, c'est bien ça?
  %guid= root + image_path('S01/01sbire.jpg')
  %link= root + image_path('S01/01sbire.jpg')
  %enclosure{ url: root + image_path('S01/01sbire.jpg'), type: 'image/jpeg',
    length: '157391' }
%item
  %title Épisode 01 - Planche 02
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Ah! Un nouveau! Qu'il est beau! Quelle classe! Quelle prestance!
    Bienvenue au service du Professeur! Bienvenue parmi tes frères d'arme!
    Ici, nous sommes l'élite de l'élite. Nous faisons trembler le monde
    entier grâce à son féroce génie!
    Ni peur, ni pitié. Rien ne nous arrête. L'avenir est notre pain
    quotidien!
  %guid= root + image_path('S01/02sbire.jpg')
  %link= root + image_path('S01/02sbire.jpg')
  %enclosure{ url: root + image_path('S01/02sbire.jpg'), type: 'image/jpeg',
    length: '166388' }
%item
  %title Épisode 01 - Planche 03
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Mais attention! Ce n'est pas parce que tu as passé les tests de
    recrutement que tu es à notre niveau! Tu dois faire tes preuves.
    Par exemple, nous n'allons pas \"travailler\" ensemble. Ceci n'est pas
    un vulgaire \"job\". Il s'agit de se donner corps et âme, 24/7. C'est
    un sacrifice de tous les instants!
    Tes petits intérêts personnels s'effacent devant le devoir.
    Crois-moi, il n'y a pas de place pour les incompétents, les lâches et
    les intriguants. C'est l'arme au point qu'on prouve sa valeur.
    Seras-tu à la hauteur?
    Jake: Et sinon Loris a oublié de te dire qu'ici, c'est la cafet' et que
    le réfectoire c'est un niveau en dessous.
    Aujourd'hui, je crois que c'est boudin purée! Miam!
  %guid= root + image_path('S01/03sbire.jpg')
  %link= root + image_path('S01/03sbire.jpg')
  %enclosure{ url: root + image_path('S01/03sbire.jpg'), type: 'image/jpeg',
    length: '496909' }
%item
  %title Épisode 01 - Planche 04
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Max: Faut peut-être que je reste à jeûn, parce que là, je dois passer
    la visite médicale.
    Jake: A l'infirmerie?!?
    Crois-en ma longue expérience. Il y a trois règles de survie que tu
    dois connaître...
    Primo!
    Si tu veux pas finir cobaye pour une expérience louche ou te faire
    implanter une bombe corticale.
    Evite l'infirmerie.
    Secundo!
    Jamais de matériel expérimental.
    Et par jamais, je veux dire JAMAIS!
  %guid= root + image_path('S01/04sbire.jpg')
  %link= root + image_path('S01/04sbire.jpg')
  %enclosure{ url: root + image_path('S01/04sbire.jpg'), type: 'image/jpeg',
    length: '178909' }
%item
  %title Épisode 01 - Planche 05
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Jake: D'ailleurs à propos d'expérimental, mois j'aurais pas choisi
    cette boisson-là...
    Et tertio!
    Toujours donner ton nom.
    Dans notre profession, sans nom, tu fais pas long feu.
    Loris: Jake, mon pauvre vieux, cette légende sur le nom est
    simplement ridicule.
  %guid= root + image_path('S01/05sbire.jpg')
  %link= root + image_path('S01/05sbire.jpg')
  %enclosure{ url: root + image_path('S01/05sbire.jpg'), type: 'image/jpeg',
    length: '174432' }
%item
  %title Épisode 01 - Planche 06
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Jake: Ah oui? Le dernier qui est tombé dans la fosse aux crocos, il
    s'appelait comment?
    Loris: Je l'ignore.
    Jake: Et celui qui nettoyait les conduits à plasma, son nom tu le
    connais pas non plus.
    Loris: Pure coïncidence.
    [une arme expérimentale explose au visage de Kenny]
    Loris: Contre-exemple: Kenny. cqfd.
  %guid= root + image_path('S01/06sbire.jpg')
  %link= root + image_path('S01/06sbire.jpg')
  %enclosure{ url: root + image_path('S01/06sbire.jpg'), type: 'image/jpeg',
    length: '195401' }
%item
  %title Épisode 01 - Planche 07
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    Haut parleur: Alerte rouge! Alerte rouge! Évasion en cours au niveau
    \-7. A toutes les forces disponibles: stoppez la cible à tout prix!
    Jake: Oh merde! Je parie que c'est le capitaine Justice.
    Loris: Tous à l'escalier! On va se le faire.
    Max: Max. Mon nom, c'est Max...
    Jake: Moi, je vais plutôt lui tendre une embuscade à la blanchisserie.
    Loris: En avant! Fais moi confiance, la gloire nous tend les bras.
    Suis-moi!
    Max: euh... Ouais.
  %guid= root + image_path('S01/07sbire.jpg')
  %link= root + image_path('S01/07sbire.jpg')
  %enclosure{ url: root + image_path('S01/07sbire.jpg'), type: 'image/jpeg',
    length: '176836' }
%item
  %title Épisode 01 - Planche 08
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    Max: Monsieur Loris, vous êtes où?
    [bruit]
    Max: C'est vous?
    [Un sbire se fait projeter au travers d'une porte]
  %guid= root + image_path('S01/08sbire.jpg')
  %link= root + image_path('S01/08sbire.jpg')
  %enclosure{ url: root + image_path('S01/08sbire.jpg'), type: 'image/jpeg',
    length: '140519' }
%item
  %title Épisode 01 - Planche 09
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    [Max a un gobelet à la main et l'arme du sbire à ses pieds]
    Capitaine Justice: Fais-moi plaisir... Tente ta chance avec ton
    jouet...
    Tu préfères m'attaquer à coups de gobelet?
    Allez, file-moi ça: s'évader des geôles du Professeur, ça donne soif!
    Salut et encore merci pour la boisson.
  %guid= root + image_path('S01/09sbire.jpg')
  %link= root + image_path('S01/09sbire.jpg')
  %enclosure{ url: root + image_path('S01/09sbire.jpg'), type: 'image/jpeg',
    length: '197273' }
%item
  %title Épisode 01 - Planche 10
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    [Cafet' foule de sbires]
    Haut parleur: Le personnel d'intervention au rapport immédiatement.
    Loris: Max, tu es le dernier à l'avoir vu. A toi l'honneur de tout
    expliquer au Professeur.
    Pas vrai Jake?
    [Max se retourne vers Jake: personne.]
    Max: Mais...
    [Il se retourne vers Loris: personne.]
    Max: Euh...
    [Max est désormais seul dans la Cafet]
    Max: Et merde...
  %guid= root + image_path('S01/10sbire.jpg')
  %link= root + image_path('S01/10sbire.jpg')
  %enclosure{ url: root + image_path('S01/10sbire.jpg'), type: 'image/jpeg',
    length: '184019' }
%item
  %title Épisode 01 - Planche 11
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    Lieutenante du Professeur: Toi viens par là! Le Professer attend des
    explications.
    Professeur: Au suivant!
    Voix sous la trappe: Professeur? Je suis tombé.
  %guid= root + image_path('S01/11sbire.jpg')
  %link= root + image_path('S01/11sbire.jpg')
  %enclosure{ url: root + image_path('S01/11sbire.jpg'), type: 'image/jpeg',
    length: '122952' }
%item
  %title Épisode 01 - Planche 12
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    Max: C'est pas moi qui...
    Lieutenante du Professeur: Silence abruti! Tu parleras quand le
    professeurte le dira.
    Prends place.
    Voix sous la trape: Y fait noir. C'est humide.
    Ça a bougé!
    Professeur: Ah bravo! Refiler un gobelet de Spécial P au Capitaine
    Justice. Quelle brillante idée!
    Grâce au marqueur isotopique qu'il contient nous allons enfin pouvoir
    le tracer jusqu'à la base secrète des Défenseurs de la liberté.
    Vous avez gagné votre place en première ligne soldat! Rompez!
    Voix sous la trappe: Y-a quelqu'un?
    Professeur: Je tiens ma vengeance!
    MOUAHAHAH!
    Voix sous la trappe: Gentils les crocos. On pourrait sûrement devenir
    copains?
  %guid= root + image_path('S01/12sbire.jpg')
  %link= root + image_path('S01/12sbire.jpg')
  %enclosure{ url: root + image_path('S01/12sbire.jpg'), type: 'image/jpeg',
    length: '161485' }
%item
  %title Épisode 01 - Planche 13
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    Loris: C'est la phase critique. Tout le monde est en place et attend
    que tu aies désactivé le système d'alarme pour mener l'assaut contre la
    base ennemie.
    Toute l'opération repose sur tes épaules. Je ne voudrais pas te mettre
    la pression, mais auras-tu autant de chance que lors de l'évasion?
    Crois-moi, tu restes un bleu et la chance ne remplacera jamais
    l'expérience.
    Allez... Je veux bien le faire à ta place. Personne n'en saura rien.
    Toute la gloire sera pour toi. Fais-moi confiance.
    Max: Ok
  %guid= root + image_path('S01/13sbire.jpg')
  %link= root + image_path('S01/13sbire.jpg')
  %enclosure{ url: root + image_path('S01/13sbire.jpg'), type: 'image/jpeg',
    length: '213765' }
%item
  %title Épisode 01 - Planche 14
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    [Loris va subrepticement bidouiller le système d'alarme.]
  %guid= root + image_path('S01/14sbire.jpg')
  %link= root + image_path('S01/14sbire.jpg')
  %enclosure{ url: root + image_path('S01/14sbire.jpg'), type: 'image/jpeg',
    length: '296762' }
%item
  %title Épisode 01 - Planche 15
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    Loris: Le fil rouge sur le bouton rouge, le fil vert sur le bouton
    vert...
    Allo chef! C'est Loris.
    Le nouveau n'avait pas les tripes alors je l'ai remplacé. Je viens à
    l'instant de désactiver l'alarme.
    Mission accomplie avec succès Patronne.
    Lieutenante du Professeur: Crétin!
    Tu téléphones depuis la zone d'opération, ils ont forcément repéré
    l'appel.
    [Sirène d'alarme]
    Haut parleur: Alerte! Intrus dans le périmètre.
    Tous les personnels aux postes de combat.
  %guid= root + image_path('S01/15sbire.jpg')
  %link= root + image_path('S01/15sbire.jpg')
  %enclosure{ url: root + image_path('S01/15sbire.jpg'), type: 'image/jpeg',
    length: '232789' }
%item
  %title Épisode 01 - Planche 16
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Gardez la tête baissée. Ça chauffe dur derrière.
    Elwood. Je viens d'être muté depuis le territoire nord.
    Jake: Enchanté. Mois c'est Jake. Bienvenue à bord de ce merdier.
  %guid= root + image_path('S01/16sbire.jpg')
  %link= root + image_path('S01/16sbire.jpg')
  %enclosure{ url: root + image_path('S01/16sbire.jpg'), type: 'image/jpeg',
    length: '235105' }
%item
  %title Épisode 01 - Planche 17
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Le professeur n'est pas venu les mains vides... On dirait une
    sorte de canon à protons pulsés.
    Jake: Héhé!! Ils vont prendre cher les chacals!
    Pour une fois qu'une de ses inventions veut bien marcher.
    Elwood: Attends, mais dis-moi...
    Elwood et Jake: ... T'es dans quel camp, toi?
  %guid= root + image_path('S01/17sbire.jpg')
  %link= root + image_path('S01/17sbire.jpg')
  %enclosure{ url: root + image_path('S01/17sbire.jpg'), type: 'image/jpeg',
    length: '242408' }
%item
  %title Épisode 01 - Planche 18
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Faites pas les cons! Lachez vos flingues!
    Jake: Toi d'abord, Boy-Scout! T'as aucune chance!
    [ZzompZzompZzomp]
    Jake: On mon dieu! Ils ont pulto-protonisé Kenny!
    Elwood: Les bâtards...
    On fait une pause?
    Elwood: De toute façons à part mourir bravement on sert à rien. On est
    une denrée périssable.
    Jake: A part peut-être la fosse à crocos...
    Elwood: Chez toi comme chez moi, c'est bien la même chose. Il n'y a pas
    de différence finalement.
    Jake: Et sinon, il parait que vous avez des RTT et des tickets resto?
    Parce que nous tu vois, par exemple, la cantine...
  %guid= root + image_path('S01/18sbire.jpg')
  %link= root + image_path('S01/18sbire.jpg')
  %enclosure{ url: root + image_path('S01/18sbire.jpg'), type: 'image/jpeg',
    length: '253195' }
%item
  %title Fin
  %pubDate 18 Jun 2013 00:00:00 GMT
  %description
  %guid= root + image_path('S00/fini.jpg')
  %link= root + image_path('S00/fini.jpg')
  %enclosure{ url: root + image_path('S00/fini.jpg'), type: 'image/jpeg',
    length: '273130' }


%item
  %title Épisode 02 - Teaser 01
  %pubDate 26 Jul 2014 00:00:00 GMT
  %description
    Belote,
    rebelote et
    dix de der!
    \- J'ai encore gagné!
    Vous ne pouvez
    toujours pas me
    manger!
    \- SSssSss...
  %guid= root + image_path('S02/teaser01.jpg')
  %link= root + image_path('S02/teaser01.jpg')
  %enclosure{ url: root + image_path('S02/teaser01.jpg'), type: 'image/jpeg',
    length: '130332' }
%item
  %title Épisode 02 - Teaser 03
  %pubDate 27 Jul 2014 00:00:00 GMT
  %description
    Elwood: Allo Jake? Comment ça va?
    Jake: Salut Elwood. Je suis un peu au
    milieu d'un truc, mais je t'écoute.
    Elwood: C'était pour te prévenir que le Capitaine
    Justice l'avait mauvaise et a prévu une
    descente en force mardi prochain sur
    votre base serète de missiles.
    Jake: Le Capitaine Justice! Ça va
    être une boucherie. Je vais
    tout de suite poser des rtt
    pour ce jour-là. Merci pour le
    tuyau.
    Elwood: De rien, il faut bien
    se serrer les
    coudes!
    Jake: À charge de revanche.
    Le prochain resto est
    pour moi.
  %guid= root + image_path('S02/teaser03.jpg')
  %link= root + image_path('S02/teaser03.jpg')
  %enclosure{ url: root + image_path('S02/teaser03.jpg'), type: 'image/jpeg',
    length: '486655' }
%item
  %title Épisode 02 - Teaser 02
  %pubDate 27 Jul 2014 00:00:00 GMT
  %description
    Youhou? Je suis toujours là!
  %guid= root + image_path('S02/teaser02.jpg')
  %link= root + image_path('S02/teaser02.jpg')
  %enclosure{ url: root + image_path('S02/teaser02.jpg'), type: 'image/jpeg',
    length: '140676' }

%item
  %title Épisode 02 - Planche 00
  %pubDate 01 Aug 2014 00:00:00 GMT
  %description
    Sbires!
    Livre et laisser pourrir
  %guid= root + image_path('S02/00sbires.jpg')
  %link= root + image_path('S02/00sbires.jpg')
  %enclosure{ url: root + image_path('S02/00sbires.jpg'), type: 'image/jpeg',
    length: '329930' }

%item
  %title Épisode 02 - Planche 01
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Allez... Dans moins
    d'une heure, c'est
    bouclé et direction
    la cafet!
    Loris: Finalement ce
    Machiavel reste un
    amateur.
    Cliente: Il est mal
    rangé votre
    magasin. Je
    trouve pas
    ce que je
    cherche.
    Jake: Vous avez le
    titre?
    L'auteur?
    L'éditeur?
    peut-être?
    Cliente: Non...
    La couverture était foncée.
    Plus ou moins.
  %guid= root + image_path('S02/01sbires.jpg')
  %link= root + image_path('S02/01sbires.jpg')
  %enclosure{ url: root + image_path('S02/01sbires.jpg'), type: 'image/jpeg',
    length: '333011' }

%item
  %title Épisode 02 - Planche 02
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Euuhhhh...
    Cliente: Sinon, c'est quoi
    la différence
    entre ces deux
    là?
    À part la couleur?
    Et celui-là, il est
    bien? Parce qu'il a
    plus de pages mais il
    est pas plus cher!
    Max: Calmez-
    vous...
    Cliente: Vous trouvez ça
    normal?
    Loris: Ma chère petite
    madame, nous allons
    vous donner
    satisfaction. Faites-
    moi confiance.
    Cliente: Je vous ai pas
    sonné!
    Vous répondez à
    mes questions!
    Faites ce pour quoi
    on vous paie, bon
    sang!
  %guid= root + image_path('S02/02sbires.jpg')
  %link= root + image_path('S02/02sbires.jpg')
  %enclosure{ url: root + image_path('S02/02sbires.jpg'), type: 'image/jpeg',
    length: '337728' }

%item
  %title Épisode 02 - Planche 03
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Ok...
    Loris: Noooonn!!!
    Ah bravo... Et la cible
    qui peut arriver
    n'importe quand!
    Max: Allez Loris, c'est
    pas si grave. Il
    faut tourner la
    page...
    Loris: T'as raison
    Max...
    Savoir passer
    l'éponge c'est
    important.
    Et c'est toi qui
    t'y colle.
  %guid= root + image_path('S02/03sbires.jpg')
  %link= root + image_path('S02/03sbires.jpg')
  %enclosure{ url: root + image_path('S02/03sbires.jpg'), type: 'image/jpeg',
    length: '321034' }

%item
  %title Épisode 02 - Planche 04
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Max: Fait chier... C'est
    encore moi qui
    doit nettoyer
    leur merde.
    Le fun, c'est
    toujours pour les
    mêmes...
    Tout ça
    parce que je
    suis un bleu...
    Qu'ils disent...
    Bon... C'est
    poubelle verte ou
    poubelle
    jaune déjà?
    Lieutre: Attendez-moi là.
    J'en ai pour une
    minute.
  %guid= root + image_path('S02/04sbires.jpg')
  %link= root + image_path('S02/04sbires.jpg')
  %enclosure{ url: root + image_path('S02/04sbires.jpg'), type: 'image/jpeg',
    length: '311770' }

%item
  %title Épisode 02 - Planche 05
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Bonjour, je suis
    Louis Anatole
    Lieutre.
    Je viens
    chercher ma
    commande.
    Jake: Prends la
    sulfateuse
    pour couvrir
    notre retraite.
    Loris: Et attends de voir
    le blanc de leurs
    yeux pour tirer!
  %guid= root + image_path('S02/05sbires.jpg')
  %link= root + image_path('S02/05sbires.jpg')
  %enclosure{ url: root + image_path('S02/05sbires.jpg'), type: 'image/jpeg',
    length: '321319' }

%item
  %title Épisode 02 - Planche 06
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Je crois qu'il y
    a un problème...
    Kenny: Le blanc de
    leurs yeux!
    Des lunettes
    noires...
    C'est vraiment
    pas de chance...
  %guid= root + image_path('S02/06sbires.jpg')
  %link= root + image_path('S02/06sbires.jpg')
  %enclosure{ url: root + image_path('S02/06sbires.jpg'), type: 'image/jpeg',
    length: '318983' }

%item
  %title Épisode 02 - Planche 07
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    BLAM BLAM
    La garde du corps: Ils sont sortis
    par derrière...
    Le garde du corps: Euf... Chef? Louis Anatole
    vient d'être enlevé, on a
    perdu sa trace.
  %guid= root + image_path('S02/07sbires.jpg')
  %link= root + image_path('S02/07sbires.jpg')
  %enclosure{ url: root + image_path('S02/07sbires.jpg'), type: 'image/jpeg',
    length: '270411' }

%item
  %title Épisode 02 - Planche 08
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    SHPOK!
    Lieutre: Mais au moins
    pose-moi des
    questions!
    Loris: Ne sois pas si
    impatient... Les
    préliminaires,
    c'est important.
    Lieutre: Qu'est-ce que
    tu peux
    comprendre à
    tout ça. Tu n'es
    qu'un clone après tout.
    Loris: Ahahaha!!!
    Lieutre: Rappelle-toi, tu avais six
    ans. Toi et ton frère êtes
    entrés dans un immeuble...
    Loris: Arrête ton cinéma!
    Je sais où tu veux
    en venir. Je me
    souviens très bien
    de ma mère. Même
    enceinte, quand
    elle rentrait du
    peepshow bourrée,
    elle me battait à
    coups de ceinturon
    et de talons. Alors,
    on ne me la fait
    pas!
  %guid= root + image_path('S02/08sbires.jpg')
  %link= root + image_path('S02/08sbires.jpg')
  %enclosure{ url: root + image_path('S02/08sbires.jpg'), type: 'image/jpeg',
    length: '304088' }

%item
  %title Épisode 02 - Planche 09
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    Lieutenante du Professeur: Voici donc notre invité,
    Louis-Anatole Lieutre.
    Je prends les chose en
    main à partir de
    maintenant.
    Alors, petite fouine. Il paraît que
    tu as trouvé des infos
    compromettantes sur le
    Professeur?
    Lieutre: J'ai rien découvert de sérieux!
    La seule chose que j'ai déterré sur
    ses origines, c'est son vrai nom:
    POOPY!
  %guid= root + image_path('S02/09sbires.jpg')
  %link= root + image_path('S02/09sbires.jpg')
  %enclosure{ url: root + image_path('S02/09sbires.jpg'), type: 'image/jpeg',
    length: '268241' }

%item
  %title Épisode 02 - Planche 10
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Ahahah
    Jake: Poopy...
    Professeur: Je vous surveille
    vous savez...
    Lieutenante du Professeur: Ca fait rire quelqu'un?
    Jake: Euh...
    Poopy vaincra!
  %guid= root + image_path('S02/10sbires.jpg')
  %link= root + image_path('S02/10sbires.jpg')
  %enclosure{ url: root + image_path('S02/10sbires.jpg'), type: 'image/jpeg',
    length: '233524' }

%item
  %title Épisode 02 - Planche 11
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Les sbires: Poopy vaincra!
    Lieutenante du Professeur: Amusez vous encore
    un peu avec lui, mais
    ne le tuez pas.
    Ensuite, amenez-
    le moi au labo. J'y
    serai, je dois faire
    une échographie
    pour le projet N.
    Rompez!
  %guid= root + image_path('S02/11sbires.jpg')
  %link= root + image_path('S02/11sbires.jpg')
  %enclosure{ url: root + image_path('S02/11sbires.jpg'), type: 'image/jpeg',
    length: '222735' }

%item
  %title Épisode 02 - Planche 12
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Max: Le meilleur
    moment
    de la
    journée.
    Loris: Tu as vu la
    patronne? Je ne sais
    pas ce que c'est que
    ce projet N mais ça ne
    l'a pas ramollie.
    Max: Ouaip... À vrai dire,
    elle me fout un peu
    la trouille.
    Surtout
    maintenant qu'elle
    est enceinte.
    Elle me rappelle ma
    mère. Quand elle
    rentrait du Peep-
    show, enceinte
    jusqu'aux dents et
    empestant l'alcool, je
    savais que j'étais
    encore bon pour le
    ceinturon est les coups
    de talon dans les
    côtes.
    Loris: J'imagine
    très bien...
  %guid= root + image_path('S02/12sbires.jpg')
  %link= root + image_path('S02/12sbires.jpg')
  %enclosure{ url: root + image_path('S02/12sbires.jpg'), type: 'image/jpeg',
    length: '265060' }

%item
  %title Épisode 02 - Planche 13
  %pubDate 01 Sept 2014 00:00:00 GMT
  %description
    Loris: Allez... En
    route pour le
    labo.
    Lieutre: Même un clone peut avoir
    plus d'ambition que de
    simplement obéir.
    Loris: Un peu
    grossier
    comme ruse.
    Tu me sous-
    estimes...
    Lieutre: Quand bien même... Tu
    ne trouves pas que les
    souvenirs d'enfance de
    ton collègue
    ressemblent
    étrangement aux tiens?
    Je t'ai vu tiquer.
    Loris: Simple
    coïncidence.
    Ça arrive plus souvent qu'on ne
    croit.
    Lieutre: C'est à ton tour de me
    sous-estimer. Je vois
    bien que tu as des
    doutes. J'ai des
    preuves chez moi qui
    les changeront en certitudes.
    Fais-toi confiance.
  %guid= root + image_path('S02/13sbires.jpg')
  %link= root + image_path('S02/13sbires.jpg')
  %enclosure{ url: root + image_path('S02/13sbires.jpg'), type: 'image/jpeg',
    length: '303688' }

%item
  %title Épisode 02 - Planche 14
  %pubDate 01 Sept 2014 00:00:00 GMT
  %description
    Lieutre: Par ici, je connais une
    sortie discrète.
    T'es sûr...?
    Loris: Fais-moi
    confiance!
    Ah merde!
    Les crocos!
    Lieutre: C'est moi ou elles
    ont salement muté
    vos bestioles?
    Et c'est qui le
    gar qui patauge avec?
    Loris: On peut s'entendre,
    camarade? Que dirais-tu
    d'un petit en-cas pous tes
    amis contre notre passage?
    Sbire des crocos: Mes maîtres
    reptiliens ont les
    crocs mais ils en
    ont marre de la
    nourriture
    fadasse!
    Loris: Kenny? Va
    chercher cinq
    bouteilles de
    ketchup à la
    cantine.
    Et rejoins-moi
    avec dans les
    sous-terrains.
    C'est urgent.
    Croco: Sssss...
    Encore du Kennysss...
  %guid= root + image_path('S02/14sbires.jpg')
  %link= root + image_path('S02/14sbires.jpg')
  %enclosure{ url: root + image_path('S02/14sbires.jpg'), type: 'image/jpeg',
    length: '212710' }

%item
  %title Épisode 02 - Planche 15
  %pubDate 01 Sept 2014 00:00:00 GMT
  %description
    Loris: Le temps se
    couvre. Tu crois
    qu'il va pleuvoir?
    Lieutre: Penser à ça alors
    que tu viens de
    sacrifier un de tes
    camarades à des
    monstres. Tu n'as
    vraiment aucune
    morale!
    Mais je suppose que
    c'est grâce à ça que
    je suis dehors...
    Alors pour répondre
    à ta question, oui
    nous avons là une
    belle concentration
    de nimbostratus
    annonciatrice de
    précipitations tout à
    fait significatives.
    Elwood: Ragondin furtif à
    contrôle. Il y a du
    nouveau ici.
    Le raton laveur est de
    retour dans son terrier
    mais il est accompagné par un hostile potentiel.
    Ok Contrôle.
    Je les suis dans
    l'appartement
    et j'interviens.
  %guid= root + image_path('S02/15sbires.jpg')
  %link= root + image_path('S02/15sbires.jpg')
  %enclosure{ url: root + image_path('S02/15sbires.jpg'), type: 'image/jpeg',
    length: '398252' }

%item
  %title Épisode 02 - Planche 16
  %pubDate 08 Sept 2014 00:00:00 GMT
  %description
    Lieutre: Bon... J'ai bien besoin d'une
    douche après tout ce que je
    viens de traverser.
    Loris: Ok... Mais tout de suite
    après, vous me
    montrerez vos
    fameuses preuves.
    Je ne doute pas de votre
    reconnaissance. C'est un
    nouveau départ pour moi et
    une opportunité pour vous,
    faites-moi confiance.
    Elwood: Bouge pas enculé! Remue
    une oreille et je te fais un
    deuxième trou de balle!
    Lieutre: Du calme! Il m'a
    permis de m'évader.
    C'est l'un des nôtres
    désormais.
    Faites connaissance,
    moi je vais prendre
    une douche.
  %guid= root + image_path('S02/16sbires.jpg')
  %link= root + image_path('S02/16sbires.jpg')
  %enclosure{ url: root + image_path('S02/16sbires.jpg'), type: 'image/jpeg',
    length: '295634' }

%item
  %title Épisode 02 - Planche 17
  %pubDate 08 Sept 2014 00:00:00 GMT
  %description
    Loris: Bonjour
    camarade.
    Laissez-moi me
    présenter, je
    m'appelle...
    Elwood: Je m'en fous!
    Jake? J'en ai un de
    chez toi en face de
    moi. Genre
    prétentieux, beau
    parleur. Il est fiable?
    Jake: Loris? C'est tout
    simplement le pire
    d'entre nous.
    Ne lui fais jamais
    confiance.
    Elwood: Bienvenue
    dans la
    maison...
    Camarade!
    Lieutre: Alors comme ça, il
    vous a agressé
    sans raison?
    Elwood: Et oui...
    Lieutre: Certainement un
    conditionnement
    caché. Simple
    sécurité ou
    échec d'un plan
    machiavélique, on
    ne le saura
    jamais.
  %guid= root + image_path('S02/17sbires.jpg')
  %link= root + image_path('S02/17sbires.jpg')
  %enclosure{ url: root + image_path('S02/17sbires.jpg'), type: 'image/jpeg',
    length: '337962' }

%item
  %title Épisode 02 - Planche 18
  %pubDate 08 Sept 2014 00:00:00 GMT
  %description
    Loris: J'ai un de ces
    mal au crâne
    ce matin. Je
    suis
    totalement
    mort...
    Jake: Prends un
    spécial P,
    ça marche
    contre la
    gueule de bois.
    Loris: Le pire, c'est que je ne me
    souviens pas d'avoir
    picolé hier. D'ailleurs, je ne
    me souviens pas trop de
    ma journée d'hier, en fait ...
    Jake: C'est ce qu'on
    appelle charger la
    mule!
    Loris: Tu m'étonnes.
    Je me suis
    envoyé un
    message à moi-
    même, c'est dire...
    «De moi
    Sujet: Ne leur fais
    pas confiance!»
  %guid= root + image_path('S02/18sbires.jpg')
  %link= root + image_path('S02/18sbires.jpg')
  %enclosure{ url: root + image_path('S02/18sbires.jpg'), type: 'image/jpeg',
    length: '242282' }
%item
  %title Génotype J
  %pubDate 8 Dec 2014 00:00:00 GMT
  %description
    Génotype J

    Appellation courante : Jake
    Statut : en service
    Obéissance : bonne
    Autonomie : bonne
    Capacité offensive : nulle

    Le modèle J est le plus ancien projet encore en activité. Premier clone
    réellement fonctionnel, sa conception a mis l'accent sur ses capacités
    de survie et son intelligence. L'objectif était de disposer d'unités
    particulièrement résilientes sous le feu ennemi pour laisser le temps
    au personnel d'élite de mener la mission à bien.

    Toutefois, l'instinct de survie de ce modèle combiné avec son
    intelligence engendre une prudence excessive, voir des actes de lâcheté.
    Il a souvent tendance à interpréter librement les ordres afin d'éviter
    tout risque. Ses intérêts sont essentiellement tournés vers le confort
    et les plaisirs culinaires, ce qui est fort décevant.

    Il n'en demeure pas moins fiable pour les tâches courantes où son
    intégrité physique n'est pas mise en cause. Malgré des designs plus
    récents, le type J n'a pas été retiré du service car en dépit de son
    inefficacité au combat, il présente des coûts opérationnels bas. En
    effet, ses frais de production ont largement été amortis grâce à sa
    survivabilité supérieure aux autres modèles.  Considérant que personne
    au département intendance n'a été en mesure de trouver trace d'une mise
    hors service, le modèle J est assurément le clone
    dont la longévité est la plus grande à ce jour.
  %guid= root + image_path('S00/genotypeJ.png')
  %link= root + image_path('S00/genotypeJ.png')
  %enclosure{ url: root + image_path('S00/genotypeJ.png'),
    type: 'image/jpeg', length: '623163' }

%item
  %title Génotype K
  %pubDate 15 Dec 2014 00:00:00 GMT
  %description
    Génotype K

    Appellation courante : Kenny
    Statut : en service
    Obéissance : excellente
    Autonomie : nulle
    Capacité offensive : médiocre

    Au vu des  résultats mitigés du modèle J, l'autonomie a été réduite au
    maximum, privilégiant l'obéissance aveugle aux ordres : l'instinct de
    conservation lui est rigoureusement subordonné.

    Ce  fut, là encore, un semi-échec. Le génotype K s'est avéré avoir un
    taux de survie en mission (et même en repos) très inférieur aux
    prévisions. Son interprétation littérale des ordres et son manque
    d'initiative, corolaire de son obéissance à l'autorité, sont à
    l'origine de beaucoup d'échecs. Il s'avère de surcroît qu'il est très
    influençable : les autres clones ont appris à profiter de sa docilité à
    leur propre profit.

    Conséquence non anticipée de ses caractéristiques psychologiques, ce
    modèle ne parle jamais. Non pas qu'il en soit physiquement incapable,
    mais plutôt parce qu'il n'en éprouve pas le besoin.

    En raison du fort taux de perte sur ce type, la chaine de production a
    été optimisée. Il y a toujours plusieurs K en incubation anticipée afin
    de pouvoir assurer une activation massive et rapide. De tous les types
    de clones, c'est celui-ci dont le nombre d'exemplaires produits est le
    plus élevé.

    Docile et aisé à fabriquer, pour un coût de revient unitaire modique, le
    modèle K conserve une utilité opérationnelle en l'attente d'un
    remplacement satisfaisant.
  %guid= root + image_path('S00/genotypeK.png')
  %link= root + image_path('S00/genotypeK.png')
  %enclosure{ url: root + image_path('S00/genotypeK.png'),
    type: 'image/jpeg', length: '611421' }

%item
  %title Génotype L
  %pubDate 26 Dec 2014 00:00:00 GMT
  %description
    Génotype L

    Appellation courante : Loris
    Statut : en service
    Obéissance : médiocre
    Autonomie : excellente
    Capacité offensive : bonne

    Fort de l'expérience des deux précédents modèles, le Professeur a décidé
    d'un compromis, tant sur le rapport coût/capacité que sur l'instinct de
    survie.

    La caractéristique d'obéissance a été diminuée par rapport au type K, mais
    reste bien supérieure à celle du J. Le challenge consistait à augmenter la
    capacité de prise d'initiative, sans que cela ne se fasse au détriment de
    la docilité. Pour ce faire, une voie détournée à été employée, consistant à
    augmenter au maximum le besoin de reconnaissance et de valorisation.

    Celui-ci est un véritable atout pour le bon accomplissement des objectifs.
    Toutefois il n'est pas rare qu'il s'arroge les réussites de ses camarades,
    voire les mène à l'échec pour briller comparativement à eux quand cette
    solution s'avère plus aisée que de réussir la mission.

    Désireux de compenser les lacunes oratoires du type K, le Professeur a
    sélectionné pour Loris des gènes améliorant les capacités verbales.
    Celles-ci, couplées avec son égotisme et son ambition exacerbée, font qu'il
    parle beaucoup, voir trop. Il a de plus tendance à se placer en position
    d'autorité vis-à-vis des autres sbires et à les utiliser pour servir ses
    intérêts.

    Le modèle L connaît un taux de perte modéré pour une efficacité correcte.
    Néanmoins, sa loyauté reste à surveiller car elle est potentiellement plus
    faible que chez les autres clones en raison des caractéristiques mentales
    sélectionnées.
  %guid= root + image_path('S00/genotypeL.png')
  %link= root + image_path('S00/genotypeL.png')
  %enclosure{ url: root + image_path('S00/genotypeL.png'),
    type: 'image/jpeg', length: '604712' }

%item
  %title Génotype M
  %pubDate 03 Jan 2015 00:00:00 GMT
  %description
    Génotype M

    Appellation courante : Max
    Statut : en service
    Obéissance : bonne
    Autonomie : bonne
    Capacité offensive : bonne

    Ce clone devait être la réponse ultime, complétant le modèle L sans en
    avoir les défauts et bénéficiant de l’expérience acquise après étude sur le
    terrain des modèles J et K.

    Afin de palier aux insuffisances des précédents types, le Professeur a opté
    pour une approche radicale et audacieuse en le dotant d'empathie.

    Celle-ci lui permet une meilleure intégration opérationnelle au sein du
    groupe et constitue une motivation intrinsèque au bon accomplissement des
    objectifs.  Grâce à l'empathie, le génotype M place l'intérêt de la mission
    en première priorité sans pour autant perdre ses capacités de discernement.

    Toutefois, le Professeur anticipant l'émergence de cas de conscience chez
    ce modèle, il l'a doté d'une solide agressivité et d'une prédisposition à
    la brutalité afin qu'il reste insensible à la détresse de ses victimes.

    Un renforcement comportemental positif vis-à-vis de la violence a donc été
    génétiquement induit par modification des récepteurs cellulaires
    hypothalamiques.

    Entré en service depuis peu, son bilan opérationnel est satisfaisant pour
    le moment mais il est encore trop tôt pour savoir si le modèle M est la
    réussite escomptée. Il devrait de toute façon être, comme tous les autres,
    rendu obsolète par la mise en service ultérieure du sbire de type N.
  %guid= root + image_path('S00/genotypeM.png')
  %link= root + image_path('S00/genotypeM.png')
  %enclosure{ url: root + image_path('S00/genotypeM.png'),
    type: 'image/jpeg', length: '601835' }
