---
layout: rss
---

- root = 'http://sbires.echarp.org'

%item
  %title Épisode 01 - Planche 00
  %pubDate 06 May 2013 00:00:00 GMT
  %description
  %guid= root + image_path('S01/00sbire.jpg')
  %link= root + image_path('S01/00sbire.jpg')
  %enclosure{ url: root + image_path('S01/00sbire.jpg'), type: 'image/jpeg',
    length: '141691' }
%item
  %title Épisode 01 - Planche 01
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Tu vois Kenny, ton problème c'est que tu manques de confiance en
    toi.
    Moi j'ai confiance en moi. Tu devrais faire pareil.
    Avoir confiance en moi.
    Max: Salut, je suis nouveau. On va travailler ensemble, c'est bien ça?
  %guid= root + image_path('S01/01sbire.jpg')
  %link= root + image_path('S01/01sbire.jpg')
  %enclosure{ url: root + image_path('S01/01sbire.jpg'), type: 'image/jpeg',
    length: '157391' }
%item
  %title Épisode 01 - Planche 02
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Ah! Un nouveau! Qu'il est beau! Quelle classe! Quelle prestance!
    Bienvenue au service du Professeur! Bienvenue parmi tes frères d'arme!
    Ici, nous sommes l'élite de l'élite. Nous faisons trembler le monde
    entier grâce à son féroce génie!
    Ni peur, ni pitié. Rien ne nous arrête. L'avenir est notre pain
    quotidien!
  %guid= root + image_path('S01/02sbire.jpg')
  %link= root + image_path('S01/02sbire.jpg')
  %enclosure{ url: root + image_path('S01/02sbire.jpg'), type: 'image/jpeg',
    length: '166388' }
%item
  %title Épisode 01 - Planche 03
  %pubDate 06 May 2013 00:00:00 GMT
  %description
    Loris: Mais attention! Ce n'est pas parce que tu as passé les tests de
    recrutement que tu es à notre niveau! Tu dois faire tes preuves.
    Par exemple, nous n'allons pas \"travailler\" ensemble. Ceci n'est pas
    un vulgaire \"job\". Il s'agit de se donner corps et âme, 24/7. C'est
    un sacrifice de tous les instants!
    Tes petits intérêts personnels s'effacent devant le devoir.
    Crois-moi, il n'y a pas de place pour les incompétents, les lâches et
    les intriguants. C'est l'arme au point qu'on prouve sa valeur.
    Seras-tu à la hauteur?
    Jake: Et sinon Loris a oublié de te dire qu'ici, c'est la cafet' et que
    le réfectoire c'est un niveau en dessous.
    Aujourd'hui, je crois que c'est boudin purée! Miam!
  %guid= root + image_path('S01/03sbire.jpg')
  %link= root + image_path('S01/03sbire.jpg')
  %enclosure{ url: root + image_path('S01/03sbire.jpg'), type: 'image/jpeg',
    length: '496909' }
%item
  %title Épisode 01 - Planche 04
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Max: Faut peut-être que je reste à jeûn, parce que là, je dois passer
    la visite médicale.
    Jake: A l'infirmerie?!?
    Crois-en ma longue expérience. Il y a trois règles de survie que tu
    dois connaître...
    Primo!
    Si tu veux pas finir cobaye pour une expérience louche ou te faire
    implanter une bombe corticale.
    Evite l'infirmerie.
    Secundo!
    Jamais de matériel expérimental.
    Et par jamais, je veux dire JAMAIS!
  %guid= root + image_path('S01/04sbire.jpg')
  %link= root + image_path('S01/04sbire.jpg')
  %enclosure{ url: root + image_path('S01/04sbire.jpg'), type: 'image/jpeg',
    length: '178909' }
%item
  %title Épisode 01 - Planche 05
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Jake: D'ailleurs à propos d'expérimental, mois j'aurais pas choisi
    cette boisson-là...
    Et tertio!
    Toujours donner ton nom.
    Dans notre profession, sans nom, tu fais pas long feu.
    Loris: Jake, mon pauvre vieux, cette légende sur le nom est
    simplement ridicule.
  %guid= root + image_path('S01/05sbire.jpg')
  %link= root + image_path('S01/05sbire.jpg')
  %enclosure{ url: root + image_path('S01/05sbire.jpg'), type: 'image/jpeg',
    length: '174432' }
%item
  %title Épisode 01 - Planche 06
  %pubDate 13 May 2013 00:00:00 GMT
  %description
    Jake: Ah oui? Le dernier qui est tombé dans la fosse aux crocos, il
    s'appelait comment?
    Loris: Je l'ignore.
    Jake: Et celui qui nettoyait les conduits à plasma, son nom tu le
    connais pas non plus.
    Loris: Pure coïncidence.
    [une arme expérimentale explose au visage de Kenny]
    Loris: Contre-exemple: Kenny. cqfd.
  %guid= root + image_path('S01/06sbire.jpg')
  %link= root + image_path('S01/06sbire.jpg')
  %enclosure{ url: root + image_path('S01/06sbire.jpg'), type: 'image/jpeg',
    length: '195401' }
%item
  %title Épisode 01 - Planche 07
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    Haut parleur: Alerte rouge! Alerte rouge! Évasion en cours au niveau
    \-7. A toutes les forces disponibles: stoppez la cible à tout prix!
    Jake: Oh merde! Je parie que c'est le capitaine Justice.
    Loris: Tous à l'escalier! On va se le faire.
    Max: Max. Mon nom, c'est Max...
    Jake: Moi, je vais plutôt lui tendre une embuscade à la blanchisserie.
    Loris: En avant! Fais moi confiance, la gloire nous tend les bras.
    Suis-moi!
    Max: euh... Ouais.
  %guid= root + image_path('S01/07sbire.jpg')
  %link= root + image_path('S01/07sbire.jpg')
  %enclosure{ url: root + image_path('S01/07sbire.jpg'), type: 'image/jpeg',
    length: '176836' }
%item
  %title Épisode 01 - Planche 08
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    Max: Monsieur Loris, vous êtes où?
    [bruit]
    Max: C'est vous?
    [Un sbire se fait projeter au travers d'une porte]
  %guid= root + image_path('S01/08sbire.jpg')
  %link= root + image_path('S01/08sbire.jpg')
  %enclosure{ url: root + image_path('S01/08sbire.jpg'), type: 'image/jpeg',
    length: '140519' }
%item
  %title Épisode 01 - Planche 09
  %pubDate 20 May 2013 00:00:00 GMT
  %description
    [Max a un gobelet à la main et l'arme du sbire à ses pieds]
    Capitaine Justice: Fais-moi plaisir... Tente ta chance avec ton
    jouet...
    Tu préfères m'attaquer à coups de gobelet?
    Allez, file-moi ça: s'évader des geôles du Professeur, ça donne soif!
    Salut et encore merci pour la boisson.
  %guid= root + image_path('S01/09sbire.jpg')
  %link= root + image_path('S01/09sbire.jpg')
  %enclosure{ url: root + image_path('S01/09sbire.jpg'), type: 'image/jpeg',
    length: '197273' }
%item
  %title Épisode 01 - Planche 10
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    [Cafet' foule de sbires]
    Haut parleur: Le personnel d'intervention au rapport immédiatement.
    Loris: Max, tu es le dernier à l'avoir vu. A toi l'honneur de tout
    expliquer au Professeur.
    Pas vrai Jake?
    [Max se retourne vers Jake: personne.]
    Max: Mais...
    [Il se retourne vers Loris: personne.]
    Max: Euh...
    [Max est désormais seul dans la Cafet]
    Max: Et merde...
  %guid= root + image_path('S01/10sbire.jpg')
  %link= root + image_path('S01/10sbire.jpg')
  %enclosure{ url: root + image_path('S01/10sbire.jpg'), type: 'image/jpeg',
    length: '184019' }
%item
  %title Épisode 01 - Planche 11
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    Lieutenante du Professeur: Toi viens par là! Le Professer attend des
    explications.
    Professeur: Au suivant!
    Voix sous la trappe: Professeur? Je suis tombé.
  %guid= root + image_path('S01/11sbire.jpg')
  %link= root + image_path('S01/11sbire.jpg')
  %enclosure{ url: root + image_path('S01/11sbire.jpg'), type: 'image/jpeg',
    length: '122952' }
%item
  %title Épisode 01 - Planche 12
  %pubDate 27 May 2013 00:00:00 GMT
  %description
    Max: C'est pas moi qui...
    Lieutenante du Professeur: Silence abruti! Tu parleras quand le
    professeur te le dira.
    Prends place.
    Voix sous la trappe: Y fait noir. C'est humide.
    Ça a bougé!
    Professeur: Ah bravo! Refiler un gobelet de Spécial P au Capitaine
    Justice. Quelle brillante idée!
    Grâce au marqueur isotopique qu'il contient nous allons enfin pouvoir
    le tracer jusqu'à la base secrète des Défenseurs de la liberté.
    Vous avez gagné votre place en première ligne soldat! Rompez!
    Voix sous la trappe: Y-a quelqu'un?
    Professeur: Je tiens ma vengeance!
    MOUAHAHAH!
    Voix sous la trappe: Gentils les crocos. On pourrait sûrement devenir
    copains?
  %guid= root + image_path('S01/12sbire.jpg')
  %link= root + image_path('S01/12sbire.jpg')
  %enclosure{ url: root + image_path('S01/12sbire.jpg'), type: 'image/jpeg',
    length: '161485' }
%item
  %title Épisode 01 - Planche 13
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    Loris: C'est la phase critique. Tout le monde est en place et attend
    que tu aies désactivé le système d'alarme pour mener l'assaut contre la
    base ennemie.
    Toute l'opération repose sur tes épaules. Je ne voudrais pas te mettre
    la pression, mais auras-tu autant de chance que lors de l'évasion?
    Crois-moi, tu restes un bleu et la chance ne remplacera jamais
    l'expérience.
    Allez... Je veux bien le faire à ta place. Personne n'en saura rien.
    Toute la gloire sera pour toi. Fais-moi confiance.
    Max: Ok
  %guid= root + image_path('S01/13sbire.jpg')
  %link= root + image_path('S01/13sbire.jpg')
  %enclosure{ url: root + image_path('S01/13sbire.jpg'), type: 'image/jpeg',
    length: '213765' }
%item
  %title Épisode 01 - Planche 14
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    [Loris va subrepticement bidouiller le système d'alarme.]
  %guid= root + image_path('S01/14sbire.jpg')
  %link= root + image_path('S01/14sbire.jpg')
  %enclosure{ url: root + image_path('S01/14sbire.jpg'), type: 'image/jpeg',
    length: '296762' }
%item
  %title Épisode 01 - Planche 15
  %pubDate 03 Jun 2013 00:00:00 GMT
  %description
    Loris: Le fil rouge sur le bouton rouge, le fil vert sur le bouton
    vert...
    Allo chef! C'est Loris.
    Le nouveau n'avait pas les tripes alors je l'ai remplacé. Je viens à
    l'instant de désactiver l'alarme.
    Mission accomplie avec succès Patronne.
    Lieutenante du Professeur: Crétin!
    Tu téléphones depuis la zone d'opération, ils ont forcément repéré
    l'appel.
    [Sirène d'alarme]
    Haut parleur: Alerte! Intrus dans le périmètre.
    Tous les personnels aux postes de combat.
  %guid= root + image_path('S01/15sbire.jpg')
  %link= root + image_path('S01/15sbire.jpg')
  %enclosure{ url: root + image_path('S01/15sbire.jpg'), type: 'image/jpeg',
    length: '232789' }
%item
  %title Épisode 01 - Planche 16
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Gardez la tête baissée. Ça chauffe dur derrière.
    Elwood. Je viens d'être muté depuis le territoire nord.
    Jake: Enchanté. Mois c'est Jake. Bienvenue à bord de ce merdier.
  %guid= root + image_path('S01/16sbire.jpg')
  %link= root + image_path('S01/16sbire.jpg')
  %enclosure{ url: root + image_path('S01/16sbire.jpg'), type: 'image/jpeg',
    length: '235105' }
%item
  %title Épisode 01 - Planche 17
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Le professeur n'est pas venu les mains vides... On dirait une
    sorte de canon à protons pulsés.
    Jake: Héhé!! Ils vont prendre cher les chacals!
    Pour une fois qu'une de ses inventions veut bien marcher.
    Elwood: Attends, mais dis-moi...
    Elwood et Jake: ... T'es dans quel camp, toi?
  %guid= root + image_path('S01/17sbire.jpg')
  %link= root + image_path('S01/17sbire.jpg')
  %enclosure{ url: root + image_path('S01/17sbire.jpg'), type: 'image/jpeg',
    length: '242408' }
%item
  %title Épisode 01 - Planche 18
  %pubDate 10 Jun 2013 00:00:00 GMT
  %description
    Elwood: Faites pas les cons! Lâchez vos flingues!
    Jake: Toi d'abord, Boy-Scout! T'as aucune chance!
    [ZzompZzompZzomp]
    Jake: On mon dieu! Ils ont pulto-protonisé Kenny!
    Elwood: Les bâtards...
    On fait une pause?
    Elwood: De toute façons à part mourir bravement on sert à rien. On est
    une denrée périssable.
    Jake: A part peut-être la fosse à crocos...
    Elwood: Chez toi comme chez moi, c'est bien la même chose. Il n'y a pas
    de différence finalement.
    Jake: Et sinon, il parait que vous avez des RTT et des tickets resto?
    Parce que nous tu vois, par exemple, la cantine...
  %guid= root + image_path('S01/18sbire.jpg')
  %link= root + image_path('S01/18sbire.jpg')
  %enclosure{ url: root + image_path('S01/18sbire.jpg'), type: 'image/jpeg',
    length: '253195' }
%item
  %title Fin
  %pubDate 18 Jun 2013 00:00:00 GMT
  %description
  %guid= root + image_path('S00/fini.jpg')
  %link= root + image_path('S00/fini.jpg')
  %enclosure{ url: root + image_path('S00/fini.jpg'), type: 'image/jpeg',
    length: '273130' }


%item
  %title Épisode 02 - Teaser 01
  %pubDate 26 Jul 2014 00:00:00 GMT
  %description
    Belote,
    rebelote et
    dix de der!
    \- J'ai encore gagné!
    Vous ne pouvez
    toujours pas me
    manger!
    \- SSssSss...
  %guid= root + image_path('S02/teaser01.jpg')
  %link= root + image_path('S02/teaser01.jpg')
  %enclosure{ url: root + image_path('S02/teaser01.jpg'), type: 'image/jpeg',
    length: '130332' }
%item
  %title Épisode 02 - Teaser 03
  %pubDate 27 Jul 2014 00:00:00 GMT
  %description
    Elwood: Allo Jake? Comment ça va?
    Jake: Salut Elwood. Je suis un peu au
    milieu d'un truc, mais je t'écoute.
    Elwood: C'était pour te prévenir que le Capitaine
    Justice l'avait mauvaise et a prévu une
    descente en force mardi prochain sur
    votre base secrète de missiles.
    Jake: Le Capitaine Justice! Ça va
    être une boucherie. Je vais
    tout de suite poser des rtt
    pour ce jour-là. Merci pour le
    tuyau.
    Elwood: De rien, il faut bien
    se serrer les
    coudes!
    Jake: À charge de revanche.
    Le prochain resto est
    pour moi.
  %guid= root + image_path('S02/teaser03.jpg')
  %link= root + image_path('S02/teaser03.jpg')
  %enclosure{ url: root + image_path('S02/teaser03.jpg'), type: 'image/jpeg',
    length: '486655' }
%item
  %title Épisode 02 - Teaser 02
  %pubDate 27 Jul 2014 00:00:00 GMT
  %description
    Youhou? Je suis toujours là!
  %guid= root + image_path('S02/teaser02.jpg')
  %link= root + image_path('S02/teaser02.jpg')
  %enclosure{ url: root + image_path('S02/teaser02.jpg'), type: 'image/jpeg',
    length: '140676' }

%item
  %title Épisode 02 - Planche 00
  %pubDate 01 Aug 2014 00:00:00 GMT
  %description
    Sbires!
    Livre et laisser pourrir
  %guid= root + image_path('S02/00sbires.jpg')
  %link= root + image_path('S02/00sbires.jpg')
  %enclosure{ url: root + image_path('S02/00sbires.jpg'), type: 'image/jpeg',
    length: '329930' }

%item
  %title Épisode 02 - Planche 01
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Allez... Dans moins
    d'une heure, c'est
    bouclé et direction
    la cafet!
    Loris: Finalement ce
    Machiavel reste un
    amateur.
    Cliente: Il est mal
    rangé votre
    magasin. Je
    trouve pas
    ce que je
    cherche.
    Jake: Vous avez le
    titre?
    L'auteur?
    L'éditeur?
    Peut-être?
    Cliente: Non...
    La couverture était foncée.
    Plus ou moins.
  %guid= root + image_path('S02/01sbires.jpg')
  %link= root + image_path('S02/01sbires.jpg')
  %enclosure{ url: root + image_path('S02/01sbires.jpg'), type: 'image/jpeg',
    length: '333011' }

%item
  %title Épisode 02 - Planche 02
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Euuhhhh...
    Cliente: Sinon, c'est quoi
    la différence
    entre ces deux
    là?
    À part la couleur?
    Et celui-là, il est
    bien? Parce qu'il a
    plus de pages mais il
    est pas plus cher!
    Max: Calmez-
    vous...
    Cliente: Vous trouvez ça
    normal?
    Loris: Ma chère petite
    madame, nous allons
    vous donner
    satisfaction. Faites-
    moi confiance.
    Cliente: Je vous ai pas
    sonné!
    Vous répondez à
    mes questions!
    Faites ce pour quoi
    on vous paie, bon
    sang!
  %guid= root + image_path('S02/02sbires.jpg')
  %link= root + image_path('S02/02sbires.jpg')
  %enclosure{ url: root + image_path('S02/02sbires.jpg'), type: 'image/jpeg',
    length: '337728' }

%item
  %title Épisode 02 - Planche 03
  %pubDate 04 Aug 2014 00:00:00 GMT
  %description
    Jake: Ok...
    Loris: Noooonn!!!
    Ah bravo... Et la cible
    qui peut arriver
    n'importe quand!
    Max: Allez Loris, c'est
    pas si grave. Il
    faut tourner la
    page...
    Loris: T'as raison
    Max...
    Savoir passer
    l'éponge c'est
    important.
    Et c'est toi qui
    t'y colle.
  %guid= root + image_path('S02/03sbires.jpg')
  %link= root + image_path('S02/03sbires.jpg')
  %enclosure{ url: root + image_path('S02/03sbires.jpg'), type: 'image/jpeg',
    length: '321034' }

%item
  %title Épisode 02 - Planche 04
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Max: Fait chier... C'est
    encore moi qui
    doit nettoyer
    leur merde.
    Le fun, c'est
    toujours pour les
    mêmes...
    Tout ça
    parce que je
    suis un bleu...
    Qu'ils disent...
    Bon... C'est
    poubelle verte ou
    poubelle
    jaune déjà?
    Lieutre: Attendez-moi là.
    J'en ai pour une
    minute.
  %guid= root + image_path('S02/04sbires.jpg')
  %link= root + image_path('S02/04sbires.jpg')
  %enclosure{ url: root + image_path('S02/04sbires.jpg'), type: 'image/jpeg',
    length: '311770' }

%item
  %title Épisode 02 - Planche 05
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Bonjour, je suis
    Louis Anatole
    Lieutre.
    Je viens
    chercher ma
    commande.
    Jake: Prends la
    sulfateuse
    pour couvrir
    notre retraite.
    Loris: Et attends de voir
    le blanc de leurs
    yeux pour tirer!
  %guid= root + image_path('S02/05sbires.jpg')
  %link= root + image_path('S02/05sbires.jpg')
  %enclosure{ url: root + image_path('S02/05sbires.jpg'), type: 'image/jpeg',
    length: '321319' }

%item
  %title Épisode 02 - Planche 06
  %pubDate 11 Aug 2014 00:00:00 GMT
  %description
    Je crois qu'il y
    a un problème...
    Kenny: Le blanc de
    leurs yeux!
    Des lunettes
    noires...
    C'est vraiment
    pas de chance...
  %guid= root + image_path('S02/06sbires.jpg')
  %link= root + image_path('S02/06sbires.jpg')
  %enclosure{ url: root + image_path('S02/06sbires.jpg'), type: 'image/jpeg',
    length: '318983' }

%item
  %title Épisode 02 - Planche 07
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    BLAM BLAM
    La garde du corps: Ils sont sortis
    par derrière...
    Le garde du corps: Euf... Chef? Louis Anatole
    vient d'être enlevé, on a
    perdu sa trace.
  %guid= root + image_path('S02/07sbires.jpg')
  %link= root + image_path('S02/07sbires.jpg')
  %enclosure{ url: root + image_path('S02/07sbires.jpg'), type: 'image/jpeg',
    length: '270411' }

%item
  %title Épisode 02 - Planche 08
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    SHPOK!
    Lieutre: Mais au moins
    pose-moi des
    questions!
    Loris: Ne sois pas si
    impatient... Les
    préliminaires,
    c'est important.
    Lieutre: Qu'est-ce que
    tu peux
    comprendre à
    tout ça. Tu n'es
    qu'un clone après tout.
    Loris: Ahahaha!!!
    Lieutre: Rappelle-toi, tu avais six
    ans. Toi et ton frère êtes
    entrés dans un immeuble...
    Loris: Arrête ton cinéma!
    Je sais où tu veux
    en venir. Je me
    souviens très bien
    de ma mère. Même
    enceinte, quand
    elle rentrait du
    peepshow bourrée,
    elle me battait à
    coups de ceinturon
    et de talons. Alors,
    on ne me la fait
    pas!
  %guid= root + image_path('S02/08sbires.jpg')
  %link= root + image_path('S02/08sbires.jpg')
  %enclosure{ url: root + image_path('S02/08sbires.jpg'), type: 'image/jpeg',
    length: '304088' }

%item
  %title Épisode 02 - Planche 09
  %pubDate 18 Aug 2014 00:00:00 GMT
  %description
    Lieutenante du Professeur: Voici donc notre invité,
    Louis-Anatole Lieutre.
    Je prends les chose en
    main à partir de
    maintenant.
    Alors, petite fouine. Il paraît que
    tu as trouvé des infos
    compromettantes sur le
    Professeur?
    Lieutre: J'ai rien découvert de sérieux!
    La seule chose que j'ai déterré sur
    ses origines, c'est son vrai nom:
    POOPY!
  %guid= root + image_path('S02/09sbires.jpg')
  %link= root + image_path('S02/09sbires.jpg')
  %enclosure{ url: root + image_path('S02/09sbires.jpg'), type: 'image/jpeg',
    length: '268241' }

%item
  %title Épisode 02 - Planche 10
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Ahahah
    Jake: Poopy...
    Professeur: Je vous surveille
    vous savez...
    Lieutenante du Professeur: Ca fait rire quelqu'un?
    Jake: Euh...
    Poopy vaincra!
  %guid= root + image_path('S02/10sbires.jpg')
  %link= root + image_path('S02/10sbires.jpg')
  %enclosure{ url: root + image_path('S02/10sbires.jpg'), type: 'image/jpeg',
    length: '233524' }

%item
  %title Épisode 02 - Planche 11
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Les sbires: Poopy vaincra!
    Lieutenante du Professeur: Amusez vous encore
    un peu avec lui, mais
    ne le tuez pas.
    Ensuite, amenez-
    le moi au labo. J'y
    serai, je dois faire
    une échographie
    pour le projet N.
    Rompez!
  %guid= root + image_path('S02/11sbires.jpg')
  %link= root + image_path('S02/11sbires.jpg')
  %enclosure{ url: root + image_path('S02/11sbires.jpg'), type: 'image/jpeg',
    length: '222735' }

%item
  %title Épisode 02 - Planche 12
  %pubDate 24 Aug 2014 00:00:00 GMT
  %description
    Max: Le meilleur
    moment
    de la
    journée.
    Loris: Tu as vu la
    patronne? Je ne sais
    pas ce que c'est que
    ce projet N mais ça ne
    l'a pas ramollie.
    Max: Ouaip... À vrai dire,
    elle me fout un peu
    la trouille.
    Surtout
    maintenant qu'elle
    est enceinte.
    Elle me rappelle ma
    mère. Quand elle
    rentrait du Peep-
    show, enceinte
    jusqu'aux dents et
    empestant l'alcool, je
    savais que j'étais
    encore bon pour le
    ceinturon est les coups
    de talon dans les
    côtes.
    Loris: J'imagine
    très bien...
  %guid= root + image_path('S02/12sbires.jpg')
  %link= root + image_path('S02/12sbires.jpg')
  %enclosure{ url: root + image_path('S02/12sbires.jpg'), type: 'image/jpeg',
    length: '265060' }

%item
  %title Épisode 02 - Planche 13
  %pubDate 01 Sep 2014 00:00:00 GMT
  %description
    Loris: Allez... En
    route pour le
    labo.
    Lieutre: Même un clone peut avoir
    plus d'ambition que de
    simplement obéir.
    Loris: Un peu
    grossier
    comme ruse.
    Tu me sous-
    estimes...
    Lieutre: Quand bien même... Tu
    ne trouves pas que les
    souvenirs d'enfance de
    ton collègue
    ressemblent
    étrangement aux tiens?
    Je t'ai vu tiquer.
    Loris: Simple
    coïncidence.
    Ça arrive plus souvent qu'on ne
    croit.
    Lieutre: C'est à ton tour de me
    sous-estimer. Je vois
    bien que tu as des
    doutes. J'ai des
    preuves chez moi qui
    les changeront en certitudes.
    Fais-toi confiance.
  %guid= root + image_path('S02/13sbires.jpg')
  %link= root + image_path('S02/13sbires.jpg')
  %enclosure{ url: root + image_path('S02/13sbires.jpg'), type: 'image/jpeg',
    length: '303688' }

%item
  %title Épisode 02 - Planche 14
  %pubDate 01 Sep 2014 00:00:00 GMT
  %description
    Lieutre: Par ici, je connais une
    sortie discrète.
    T'es sûr...?
    Loris: Fais-moi
    confiance!
    Ah merde!
    Les crocos!
    Lieutre: C'est moi ou elles
    ont salement muté
    vos bestioles?
    Et c'est qui le
    gar qui patauge avec?
    Loris: On peut s'entendre,
    camarade? Que dirais-tu
    d'un petit en-cas pour tes
    amis contre notre passage?
    Sbire des crocos: Mes maîtres
    reptiliens ont les
    crocs mais ils en
    ont marre de la
    nourriture
    fadasse!
    Loris: Kenny? Va
    chercher cinq
    bouteilles de
    ketchup à la
    cantine.
    Et rejoins-moi
    avec dans les
    sous-terrains.
    C'est urgent.
    Croco: Sssss...
    Encore du Kennysss...
  %guid= root + image_path('S02/14sbires.jpg')
  %link= root + image_path('S02/14sbires.jpg')
  %enclosure{ url: root + image_path('S02/14sbires.jpg'), type: 'image/jpeg',
    length: '212710' }

%item
  %title Épisode 02 - Planche 15
  %pubDate 01 Sep 2014 00:00:00 GMT
  %description
    Loris: Le temps se
    couvre. Tu crois
    qu'il va pleuvoir?
    Lieutre: Penser à ça alors
    que tu viens de
    sacrifier un de tes
    camarades à des
    monstres. Tu n'as
    vraiment aucune
    morale!
    Mais je suppose que
    c'est grâce à ça que
    je suis dehors...
    Alors pour répondre
    à ta question, oui
    nous avons là une
    belle concentration
    de nimbostratus
    annonciatrice de
    précipitations tout à
    fait significatives.
    Elwood: Ragondin furtif à
    contrôle. Il y a du
    nouveau ici.
    Le raton laveur est de
    retour dans son terrier
    mais il est accompagné par un hostile potentiel.
    Ok Contrôle.
    Je les suis dans
    l'appartement
    et j'interviens.
  %guid= root + image_path('S02/15sbires.jpg')
  %link= root + image_path('S02/15sbires.jpg')
  %enclosure{ url: root + image_path('S02/15sbires.jpg'), type: 'image/jpeg',
    length: '398252' }

%item
  %title Épisode 02 - Planche 16
  %pubDate 08 Sep 2014 00:00:00 GMT
  %description
    Lieutre: Bon... J'ai bien besoin d'une
    douche après tout ce que je
    viens de traverser.
    Loris: Ok... Mais tout de suite
    après, vous me
    montrerez vos
    fameuses preuves.
    Je ne doute pas de votre
    reconnaissance. C'est un
    nouveau départ pour moi et
    une opportunité pour vous,
    faites-moi confiance.
    Elwood: Bouge pas enculé! Remue
    une oreille et je te fais un
    deuxième trou de balle!
    Lieutre: Du calme! Il m'a
    permis de m'évader.
    C'est l'un des nôtres
    désormais.
    Faites connaissance,
    moi je vais prendre
    une douche.
  %guid= root + image_path('S02/16sbires.jpg')
  %link= root + image_path('S02/16sbires.jpg')
  %enclosure{ url: root + image_path('S02/16sbires.jpg'), type: 'image/jpeg',
    length: '295634' }

%item
  %title Épisode 02 - Planche 17
  %pubDate 08 Sep 2014 00:00:00 GMT
  %description
    Loris: Bonjour
    camarade.
    Laissez-moi me
    présenter, je
    m'appelle...
    Elwood: Je m'en fous!
    Jake? J'en ai un de
    chez toi en face de
    moi. Genre
    prétentieux, beau
    parleur. Il est fiable?
    Jake: Loris? C'est tout
    simplement le pire
    d'entre nous.
    Ne lui fais jamais
    confiance.
    Elwood: Bienvenue
    dans la
    maison...
    Camarade!
    Lieutre: Alors comme ça, il
    vous a agressé
    sans raison?
    Elwood: Et oui...
    Lieutre: Certainement un
    conditionnement
    caché. Simple
    sécurité ou
    échec d'un plan
    machiavélique, on
    ne le saura
    jamais.
  %guid= root + image_path('S02/17sbires.jpg')
  %link= root + image_path('S02/17sbires.jpg')
  %enclosure{ url: root + image_path('S02/17sbires.jpg'), type: 'image/jpeg',
    length: '337962' }

%item
  %title Épisode 02 - Planche 18
  %pubDate 08 Sep 2014 00:00:00 GMT
  %description
    Loris: J'ai un de ces
    mal au crâne
    ce matin. Je
    suis
    totalement
    mort...
    Jake: Prends un
    spécial P,
    ça marche
    contre la
    gueule de bois.
    Loris: Le pire, c'est que je ne me
    souviens pas d'avoir
    picolé hier. D'ailleurs, je ne
    me souviens pas trop de
    ma journée d'hier, en fait ...
    Jake: C'est ce qu'on
    appelle charger la
    mule!
    Loris: Tu m'étonnes.
    Je me suis
    envoyé un
    message à moi-
    même, c'est dire...
    «De moi
    Sujet: Ne leur fais
    pas confiance!»
  %guid= root + image_path('S02/18sbires.jpg')
  %link= root + image_path('S02/18sbires.jpg')
  %enclosure{ url: root + image_path('S02/18sbires.jpg'), type: 'image/jpeg',
    length: '242282' }
%item
  %title Génotype J
  %pubDate 8 Dec 2014 00:00:00 GMT
  %description
    Génotype J

    Appellation courante : Jake
    Statut : en service
    Obéissance : bonne
    Autonomie : bonne
    Capacité offensive : nulle

    Le modèle J est le plus ancien projet encore en activité. Premier clone
    réellement fonctionnel, sa conception a mis l'accent sur ses capacités
    de survie et son intelligence. L'objectif était de disposer d'unités
    particulièrement résilientes sous le feu ennemi pour laisser le temps
    au personnel d'élite de mener la mission à bien.

    Toutefois, l'instinct de survie de ce modèle combiné avec son
    intelligence engendre une prudence excessive, voir des actes de lâcheté.
    Il a souvent tendance à interpréter librement les ordres afin d'éviter
    tout risque. Ses intérêts sont essentiellement tournés vers le confort
    et les plaisirs culinaires, ce qui est fort décevant.

    Il n'en demeure pas moins fiable pour les tâches courantes où son
    intégrité physique n'est pas mise en cause. Malgré des designs plus
    récents, le type J n'a pas été retiré du service car en dépit de son
    inefficacité au combat, il présente des coûts opérationnels bas. En
    effet, ses frais de production ont largement été amortis grâce à sa
    survivabilité supérieure aux autres modèles.  Considérant que personne
    au département intendance n'a été en mesure de trouver trace d'une mise
    hors service, le modèle J est assurément le clone
    dont la longévité est la plus grande à ce jour.
  %guid= root + image_path('S00/genotypeJ.png')
  %link= root + image_path('S00/genotypeJ.png')
  %enclosure{ url: root + image_path('S00/genotypeJ.png'),
    type: 'image/jpeg', length: '623163' }

%item
  %title Génotype K
  %pubDate 15 Dec 2014 00:00:00 GMT
  %description
    Génotype K

    Appellation courante : Kenny
    Statut : en service
    Obéissance : excellente
    Autonomie : nulle
    Capacité offensive : médiocre

    Au vu des résultats mitigés du modèle J, l'autonomie a été réduite au
    maximum, privilégiant l'obéissance aveugle aux ordres : l'instinct de
    conservation lui est rigoureusement subordonné.

    Ce fut, là encore, un semi-échec. Le génotype K s'est avéré avoir un
    taux de survie en mission (et même en repos) très inférieur aux
    prévisions. Son interprétation littérale des ordres et son manque
    d'initiative, corolaire de son obéissance à l'autorité, sont à
    l'origine de beaucoup d'échecs. Il s'avère de surcroît qu'il est très
    influençable : les autres clones ont appris à profiter de sa docilité à
    leur propre profit.

    Conséquence non anticipée de ses caractéristiques psychologiques, ce
    modèle ne parle jamais. Non pas qu'il en soit physiquement incapable,
    mais plutôt parce qu'il n'en éprouve pas le besoin.

    En raison du fort taux de perte sur ce type, la chaine de production a
    été optimisée. Il y a toujours plusieurs K en incubation anticipée afin
    de pouvoir assurer une activation massive et rapide. De tous les types
    de clones, c'est celui-ci dont le nombre d'exemplaires produits est le
    plus élevé.

    Docile et aisé à fabriquer, pour un coût de revient unitaire modique, le
    modèle K conserve une utilité opérationnelle en l'attente d'un
    remplacement satisfaisant.
  %guid= root + image_path('S00/genotypeK.png')
  %link= root + image_path('S00/genotypeK.png')
  %enclosure{ url: root + image_path('S00/genotypeK.png'),
    type: 'image/jpeg', length: '611421' }

%item
  %title Génotype L
  %pubDate 26 Dec 2014 00:00:00 GMT
  %description
    Génotype L

    Appellation courante : Loris
    Statut : en service
    Obéissance : médiocre
    Autonomie : excellente
    Capacité offensive : bonne

    Fort de l'expérience des deux précédents modèles, le Professeur a décidé
    d'un compromis, tant sur le rapport coût/capacité que sur l'instinct de
    survie.

    La caractéristique d'obéissance a été diminuée par rapport au type K, mais
    reste bien supérieure à celle du J. Le challenge consistait à augmenter la
    capacité de prise d'initiative, sans que cela ne se fasse au détriment de
    la docilité. Pour ce faire, une voie détournée à été employée, consistant à
    augmenter au maximum le besoin de reconnaissance et de valorisation.

    Celui-ci est un véritable atout pour le bon accomplissement des objectifs.
    Toutefois il n'est pas rare qu'il s'arroge les réussites de ses camarades,
    voire les mène à l'échec pour briller comparativement à eux quand cette
    solution s'avère plus aisée que de réussir la mission.

    Désireux de compenser les lacunes oratoires du type K, le Professeur a
    sélectionné pour Loris des gènes améliorant les capacités verbales.
    Celles-ci, couplées avec son égotisme et son ambition exacerbée, font qu'il
    parle beaucoup, voir trop. Il a de plus tendance à se placer en position
    d'autorité vis-à-vis des autres sbires et à les utiliser pour servir ses
    intérêts.

    Le modèle L connaît un taux de perte modéré pour une efficacité correcte.
    Néanmoins, sa loyauté reste à surveiller car elle est potentiellement plus
    faible que chez les autres clones en raison des caractéristiques mentales
    sélectionnées.
  %guid= root + image_path('S00/genotypeL.png')
  %link= root + image_path('S00/genotypeL.png')
  %enclosure{ url: root + image_path('S00/genotypeL.png'),
    type: 'image/jpeg', length: '604712' }

%item
  %title Génotype M
  %pubDate 03 Jan 2015 00:00:00 GMT
  %description
    Génotype M

    Appellation courante : Max
    Statut : en service
    Obéissance : bonne
    Autonomie : bonne
    Capacité offensive : bonne

    Ce clone devait être la réponse ultime, complétant le modèle L sans en
    avoir les défauts et bénéficiant de l’expérience acquise après étude sur le
    terrain des modèles J et K.

    Afin de palier aux insuffisances des précédents types, le Professeur a opté
    pour une approche radicale et audacieuse en le dotant d'empathie.

    Celle-ci lui permet une meilleure intégration opérationnelle au sein du
    groupe et constitue une motivation intrinsèque au bon accomplissement des
    objectifs.  Grâce à l'empathie, le génotype M place l'intérêt de la mission
    en première priorité sans pour autant perdre ses capacités de discernement.

    Toutefois, le Professeur anticipant l'émergence de cas de conscience chez
    ce modèle, il l'a doté d'une solide agressivité et d'une prédisposition à
    la brutalité afin qu'il reste insensible à la détresse de ses victimes.

    Un renforcement comportemental positif vis-à-vis de la violence a donc été
    génétiquement induit par modification des récepteurs cellulaires
    hypothalamiques.

    Entré en service depuis peu, son bilan opérationnel est satisfaisant pour
    le moment mais il est encore trop tôt pour savoir si le modèle M est la
    réussite escomptée. Il devrait de toute façon être, comme tous les autres,
    rendu obsolète par la mise en service ultérieure du sbire de type N.
  %guid= root + image_path('S00/genotypeM.png')
  %link= root + image_path('S00/genotypeM.png')
  %enclosure{ url: root + image_path('S00/genotypeM.png'),
    type: 'image/jpeg', length: '601835' }

%item
  %title Interlude - Planche 01
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
    Sbires!
    Traque à Geekopolis
  %guid= root + image_path('interlude/001geeko.png')
  %link= root + image_path('interlude/001geeko.png')
  %enclosure{ url: root + image_path('interlude/001geeko.png'),
    type: 'image/png', length: '857142' }

%item
  %title Interlude - Planche 02
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
    Loris: Alors Jake, tu as repéré la cible?
    Jake: Pas encores, mais je suis à 100% dessus.
    J'ai trouvé un poste d'observation stratégiquement placé
  %guid= root + image_path('interlude/002geeko.png')
  %link= root + image_path('interlude/002geeko.png')
  %enclosure{ url: root + image_path('interlude/002geeko.png'),
    type: 'image/png', length: '1344795' }

%item
  %title Interlude - Planche 03
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
    Jake: Bon allez... Faut bien s'y mettre si on veut rentrer à l'heure
    pour la soupe. En plus la patronne n'est vraiment pas d'humeur
    aujourd'hui
  %guid= root + image_path('interlude/003geeko.png')
  %link= root + image_path('interlude/003geeko.png')
  %enclosure{ url: root + image_path('interlude/003geeko.png'),
    type: 'image/png', length: '1391859' }

%item
  %title Interlude - Planche 04
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
  %guid= root + image_path('interlude/004geeko.png')
  %link= root + image_path('interlude/004geeko.png')
  %enclosure{ url: root + image_path('interlude/004geeko.png'),
    type: 'image/png', length: '573802' }

%item
  %title Interlude - Planche 05
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
    Fille de l'accueil: Je n'ai pas vu votre nièce, mais ses autres oncles
    sont là-bas.
    Jake: Vous pourriez diffuser un message pour que nous puissions mettre
    la main sur cette petite friponne?
    Fille de l'accueil 2: Bien sûr.
    Comment s'appelle cette chère enfant?"
  %guid= root + image_path('interlude/005geeko.png')
  %link= root + image_path('interlude/005geeko.png')
  %enclosure{ url: root + image_path('interlude/005geeko.png'),
    type: 'image/png', length: '1189841' }

%item
  %title Interlude - Planche 06
  %pubDate 28 Sep 2016 00:00:00 GMT
  %description
    Haut parleur: La petite Rendstoisansfairedhistoiresraclure est attendue
    pas ses gentils tontons au point accueil.
  %guid= root + image_path('interlude/006geeko.png')
  %link= root + image_path('interlude/006geeko.png')
  %enclosure{ url: root + image_path('interlude/006geeko.png'),
    type: 'image/png', length: '1228721' }

%item
  %title Interlude - Planche 07
  %pubDate 08 Oct 2016 00:00:00 GMT
  %description
    Vraiment sympa la nouvelle collection automne-hiver de chez Heckler &amp;
    Koch.
  %guid= root + image_path('interlude/007geeko.png')
  %link= root + image_path('interlude/007geeko.png')
  %enclosure{ url: root + image_path('interlude/007geeko.png'),
    type: 'image/png', length: '1183991' }

%item
  %title Interlude - Planche 08
  %pubDate 10 Oct 2016 00:00:00 GMT
  %description
    Cible: Aidez-moi, des hommes mal intentionnés me cherchent. Savez-vous
    comment sortir d'ici discrètement?
    Homme au chapeau: Non mais je peux vous faire changer de tête.
  %guid= root + image_path('interlude/008geeko.png')
  %link= root + image_path('interlude/008geeko.png')
  %enclosure{ url: root + image_path('interlude/008geeko.png'),
    type: 'image/png', length: '1296376' }
%item
  %title Interlude - Planche 09
  %pubDate 10 Oct 2016 00:00:00 GMT
  %description
    Comme ça, ils ne vous reconnaitront jamais.
  %guid= root + image_path('interlude/009geeko.png')
  %link= root + image_path('interlude/009geeko.png')
  %enclosure{ url: root + image_path('interlude/009geeko.png'),
    type: 'image/png', length: '1183412' }
%item
  %title Interlude - Planche 10
  %pubDate 10 Oct 2016 00:00:00 GMT
  %description
  %guid= root + image_path('interlude/010geeko.png')
  %link= root + image_path('interlude/010geeko.png')
  %enclosure{ url: root + image_path('interlude/010geeko.png'),
    type: 'image/png', length: '1183991' }

%item
  %title Interlude - Planche 11
  %pubDate 17 Oct 2016 00:00:00 GMT
  %description
    Loris : Hep, vous là-bas! Venez par ici bande de guignols, j'ai des
    questions à vous poser.
  %guid= root + image_path('interlude/011geeko.png')
  %link= root + image_path('interlude/011geeko.png')
  %enclosure{ url: root + image_path('interlude/011geeko.png'),
    type: 'image/png', length: '1341750' }
%item
  %title Interlude - Planche 12
  %pubDate 17 Oct 2016 00:00:00 GMT
  %description
    Loris: Euh... Non en fait rien. Désolé...
    Stormtrooper: C'est lui le droïde que l'on recherche, Chef?
  %guid= root + image_path('interlude/012geeko.png')
  %link= root + image_path('interlude/012geeko.png')
  %enclosure{ url: root + image_path('interlude/012geeko.png'),
    type: 'image/png', length: '1293539' }
%item
  %title Interlude - Planche 13
  %pubDate 17 Oct 2016 00:00:00 GMT
  %description
    Loris: Houlà... On ne va pas se faire la guerre entre clones tout de
    même... Et puis je suis un grand admirateur, faites-moi confiance.
  %guid= root + image_path('interlude/013geeko.png')
  %link= root + image_path('interlude/013geeko.png')
  %enclosure{ url: root + image_path('interlude/013geeko.png'),
    type: 'image/png', length: '534870' }

%item
  %title Interlude - Planche 14
  %pubDate 23 Oct 2016 00:00:00 GMT
  %description
    Cible: Bonjour, il paraît que vous êtes un expert en liberté?
    Des gens ici en ont après la mienne.
  %guid= root + image_path('interlude/014geeko.png')
  %link= root + image_path('interlude/014geeko.png')
  %enclosure{ url: root + image_path('interlude/014geeko.png'),
    type: 'image/png', length: '1245371' }
%item
  %title Interlude - Planche 15
  %pubDate 23 Oct 2016 00:00:00 GMT
  %description
    Pouhiou: Don't panic! J'ai la réponse à votre problème.
  %guid= root + image_path('interlude/015geeko.png')
  %link= root + image_path('interlude/015geeko.png')
  %enclosure{ url: root + image_path('interlude/015geeko.png'),
    type: 'image/png', length: '1199693' }
%item
  %title Interlude - Planche 16
  %pubDate 23 Oct 2016 00:00:00 GMT
  %description
    Cible: Une cape d'invisibilité?
    Pouhiou: Beaucoup mieux: une serviette! Personnellement je ne sors jamais
    sans.
  %guid= root + image_path('interlude/016geeko.png')
  %link= root + image_path('interlude/016geeko.png')
  %enclosure{ url: root + image_path('interlude/016geeko.png'),
    type: 'image/png', length: '1374630' }
%item
  %title Interlude - Planche 17
  %pubDate 23 Oct 2016 00:00:00 GMT
  %description
    La cible met la serviette sur sa tête et se cogne dans un ubunteros en
    partant.
  %guid= root + image_path('interlude/017geeko.png')
  %link= root + image_path('interlude/017geeko.png')
  %enclosure{ url: root + image_path('interlude/017geeko.png'),
    type: 'image/png', length: '1339230' }

%item
  %title Interlude - Planche 18
  %pubDate 9 Nov 2016 00:00:00 GMT
  %description
    La cible attend au milieu de caisses et de créatures fantastiques
    empaillées.
  %guid= root + image_path('interlude/018geeko.png')
  %link= root + image_path('interlude/018geeko.png')
  %enclosure{ url: root + image_path('interlude/018geeko.png'),
    type: 'image/png', length: '1217613' }
%item
  %title Interlude - Planche 19
  %pubDate 9 Nov 2016 00:00:00 GMT
  %description
    Rôliste en blouse blanche: Non je ne l'ai pas vue mais cette potion
    t'aidera.
    Jake: Vous êtes sûr qu'avec ça je trouverai ce que je cherche vraiment?
  %guid= root + image_path('interlude/019geeko.png')
  %link= root + image_path('interlude/019geeko.png')
  %enclosure{ url: root + image_path('interlude/019geeko.png'),
    type: 'image/png', length: '608863' }
%item
  %title Interlude - Planche 20
  %pubDate 9 Nov 2016 00:00:00 GMT
  %description
    Jake fouillant là où la cible se tenait avant: Miam! Un saucisson de lapin
    vorpale.
  %guid= root + image_path('interlude/020geeko.png')
  %link= root + image_path('interlude/020geeko.png')
  %enclosure{ url: root + image_path('interlude/020geeko.png'),
    type: 'image/png', length: '1308444' }

%item
  %title Interlude - Planche 21
  %pubDate 19 Nov 2016 00:00:00 GMT
  %description
    Cible: Comme je vous dit, ceux qui me cherchent sont nombreux, armés et
    ils en veulent à ma vie.
    Vous pensez être capables de me protéger?
  %guid= root + image_path('interlude/021geeko.png')
  %link= root + image_path('interlude/021geeko.png')
  %enclosure{ url: root + image_path('interlude/021geeko.png'),
    type: 'image/png', length: '1451411' }
%item
  %title Interlude - Planche 22
  %pubDate 19 Nov 2016 00:00:00 GMT
  %description
    Air softer 1: Affirmatif ma petite dame. Le bijou que j'ai entre les mains
    va les accueillir avec un mur de plomb.
    200 bastos de 5.56 crachées à 800 coups minutes et ils pourront aller
    chercher du boulot comme passoire.
    Air softer 2: Et sinon... Headshot.
  %guid= root + image_path('interlude/022geeko.png')
  %link= root + image_path('interlude/022geeko.png')
  %enclosure{ url: root + image_path('interlude/022geeko.png'),
    type: 'image/png', length: '1328307' }
%item
  %title Interlude - Planche 23
  %pubDate 19 Nov 2016 00:00:00 GMT
  %description
    Cible: Ce filet camo doit être en poil d'alpaga. Si je reste, c'est le choc
    anaphylactique assuré.
  %guid= root + image_path('interlude/023geeko.png')
  %link= root + image_path('interlude/023geeko.png')
  %enclosure{ url: root + image_path('interlude/023geeko.png'),
    type: 'image/png', length: '1549703' }

%item
  %title Interlude - Planche 24
  %pubDate 23 Nov 2016 00:00:00 GMT
  %description
    Jake: Trouvez cette personne. Vous êtes libre d'employer toutes les
    méthodes nécessaires. Mais je la veux vivante. Pas de désintégration!
  %guid= root + image_path('interlude/024geeko.png')
  %link= root + image_path('interlude/024geeko.png')
  %enclosure{ url: root + image_path('interlude/024geeko.png'),
    type: 'image/png', length: '620025' }
%item
  %title Interlude - Planche 25
  %pubDate 23 Nov 2016 00:00:00 GMT
  %description
    Boba Fett: Comme vous voudrez. Quel est le montant de la prime?
  %guid= root + image_path('interlude/025geeko.png')
  %link= root + image_path('interlude/025geeko.png')
  %enclosure{ url: root + image_path('interlude/025geeko.png'),
    type: 'image/png', length: '609381' }
%item
  %title Interlude - Planche 26
  %pubDate 23 Nov 2016 00:00:00 GMT
  %description
    Jake: Une prime? Et la solidarité entre bad guys, ça compte pas?
    J'ai même pas de tickets resto!
  %guid= root + image_path('interlude/026geeko.png')
  %link= root + image_path('interlude/026geeko.png')
  %enclosure{ url: root + image_path('interlude/026geeko.png'),
    type: 'image/png', length: '609167' }

%item
  %title Interlude - Planche 27
  %pubDate 02 Dec 2016 00:00:00 GMT
  %description
    Vendeur: Notre robot peut tout faire, y compris vous protéger de vos
    ennemis, bien sûr.
  %guid= root + image_path('interlude/027geeko.png')
  %link= root + image_path('interlude/027geeko.png')
  %enclosure{ url: root + image_path('interlude/027geeko.png'),
    type: 'image/png', length: '1327907' }
%item
  %title Interlude - Planche 28
  %pubDate 02 Dec 2016 00:00:00 GMT
  %description
    Cible: Donc si je me mets derrière, il empêchera quiconque de s'en prendre
    à moi?
  %guid= root + image_path('interlude/028geeko.png')
  %link= root + image_path('interlude/028geeko.png')
  %enclosure{ url: root + image_path('interlude/028geeko.png'),
    type: 'image/png', length: '1192870' }
%item
  %title Interlude - Planche 29
  %pubDate 02 Dec 2016 00:00:00 GMT
  %description
    Vendeur: Tout à fait. Dès qu'on aura codé la fonctionnalité "garde du
    corps"...
    On devrait pouvoir l'intégrer à la prochaine mise à jour.
    D'ici trois mois en bêta si tout va bien.
  %guid= root + image_path('interlude/029geeko.png')
  %link= root + image_path('interlude/029geeko.png')
  %enclosure{ url: root + image_path('interlude/029geeko.png'),
    type: 'image/png', length: '1171563' }
%item
  %title Interlude - Planche 30
  %pubDate 02 Dec 2016 00:00:00 GMT
  %description
    Cible: Ah... Gardez-moi en un de côté.
    J'essaierai de me faire traquer à nouveau pour les tests.
  %guid= root + image_path('interlude/030geeko.png')
  %link= root + image_path('interlude/030geeko.png')
  %enclosure{ url: root + image_path('interlude/030geeko.png'),
    type: 'image/png', length: '1176769' }

%item
  %title Interlude - Planche 31
  %pubDate 19 Dec 2016 00:00:00 GMT
  %description
    Jake (face à R2D2): Purée! Mais c'est quoi ce truc? Même les poubelles
    bougent ici!
  %guid= root + image_path('interlude/031geeko.png')
  %link= root + image_path('interlude/031geeko.png')
  %enclosure{ url: root + image_path('interlude/031geeko.png'),
    type: 'image/png', length: '1377479' }
%item
  %title Interlude - Planche 32
  %pubDate 19 Dec 2016 00:00:00 GMT
  %description
    Jake (face à R2D2): Désolé pour la canette! Ca rentrait tout seul, j'ai cru
    que c'était fait pour. Pas la peine de siffler comme ça.
  %guid= root + image_path('interlude/032geeko.png')
  %link= root + image_path('interlude/032geeko.png')
  %enclosure{ url: root + image_path('interlude/032geeko.png'),
    type: 'image/png', length: '1336168' }
%item
  %title Interlude - Planche 33
  %pubDate 19 Dec 2016 00:00:00 GMT
  %description
    Jake (face à R2D2): Mais il essaie de me rouler dessus ce con. Arrête!
    J'te préviens, si t'as pas aimé la bière, t'aimeras pas les pruneaux!
  %guid= root + image_path('interlude/033geeko.png')
  %link= root + image_path('interlude/033geeko.png')
  %enclosure{ url: root + image_path('interlude/033geeko.png'),
    type: 'image/png', length: '1254117' }

%item
  %title Interlude - Planche 34
  %pubDate 6 Jan 2017 00:00:00 GMT
  %description
    Cible: Ils sont dangereux et bien entraînés. Pourriez-vous me cacher?
  %guid= root + image_path('interlude/034geeko.png')
  %link= root + image_path('interlude/034geeko.png')
  %enclosure{ url: root + image_path('interlude/034geeko.png'),
    type: 'image/png', length: '1346356' }
%item
  %title Interlude - Planche 35
  %pubDate 6 Jan 2017 00:00:00 GMT
  %description
    Je peux faire mieux que ça. Grâce à ce simulateur de combat tu vas pouvoir
    apprendre à te défendre. Sinon, tu devrais trouver un MOOC de CQC DIY sur
    le WWW.
  %guid= root + image_path('interlude/035geeko.png')
  %link= root + image_path('interlude/035geeko.png')
  %enclosure{ url: root + image_path('interlude/035geeko.png'),
    type: 'image/png', length: '1247866' }
%item
  %title Interlude - Planche 36
  %pubDate 6 Jan 2017 00:00:00 GMT
  %description
    Cible: Merci, mais en face, ils ont des flingues. Alors, le saturnisme
    foudroyant, très peu pour moi. Je vais plutôt opter pour la méthode:
    F(leeing) U(rgently) I(mmediate) R(etreat).
  %guid= root + image_path('interlude/036geeko.png')
  %link= root + image_path('interlude/036geeko.png')
  %enclosure{ url: root + image_path('interlude/036geeko.png'),
    type: 'image/png', length: '1198278' }

%item
  %title Interlude - Planche 37
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/037geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Max: Dis-donc toi! Dis-moi où est cette fille. Je sais que tu sais.
    Aryeom: 그 여자 너희 뒤에 있잖아, 이 멍청이들아! *
    *: Elle est derrière-vous, imbéciles.'
%item
  %title Interlude - Planche 38
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/038geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Max: Je cause pas le marmotte. Tu l'as vue oui ou non?
    Bon... Je reviendrai et si tu m'as caché des choses, tu le regretteras."
%item
  %title Interlude - Planche 39
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/039geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 40
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/040geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Kenny (pensée) : Je vais leur demander des informations sur la cible.
    Ils l'ont sans doute vue.
    Homme derrière un stand: Ah je vois que nous avons un courageux
    volontaire pour tester le poste de pilotage expérimental de notre
    dirigeable.
    Avec une chemise rouge, en plus! Tous nos précédents capitaines
    adoraient cette couleur."
%item
  %title Interlude - Planche 41
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/041geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Kenny (pensée): Plutôt confortable comme fauteuil, mais pourquoi
    est-il branché sur le secteur?
    Bon, ici au moins on me laisse manipuler les grenades.'
%item
  %title Interlude - Planche 42
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/042geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Kenny (pensée): Comment ça \"psshhitt\"?
    Si je baisse ce levier, tout va peut-être s'arrêter."
%item
  %title Interlude - Planche 43
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/043geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Max: T'étais où? J'arrive à rien avec ces crétins.
    Ils sont pas coopératifs du tout.
    Loris: Ahaha... C'est ton inexpérience qui parle.
    Laisse moi faire, je vais te montrer comment procède un expert.
    Qu'as-tu fait de Kenny, au fait?
    Au loin: Boum!"
%item
  %title Interlude - Planche 44
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/044geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Dites moi, chers autochtones aux couvre-chefs si pittoresques,
    auriez-vous entraperçu cette fugitive? La vague lueur d'intelligence
    que je perçois au fond de votre regard torve signifie-t-elle que vous
    m'avez compris? Faudrait-il sinon que je simplifie mon propos,
    voire que je dessinasse?"
%item
  %title Interlude - Planche 45
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/045geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Femme au chapeau: Bien sûr, nous l'avons vu s'échapper par la porte des
    latrines, ou WC dans votre langage de rustre. Elle s'est assurément
    enfuie par là. Vous la retrouverez sans mal dans les égouts qui sont
    sans nul doute votre milieu naturel.
    Max: J'ai observé. C'est bien toi le meilleur!"
%item
  %title Interlude - Planche 46
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/046geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Je t'y prends, Jake! Poopy nous a confié une mission capitale
    et toi tu tires  au flanc! Dégage, je vais encore devoir faire ton
    boulot à ta place.
    Jake: Quel rabat-joie. Moi depuis la mission dans la librairie,
    j'apprécie la littérature. On a beau être sbire, on en est pas moins
    sensible."
%item
  %title Interlude - Planche 47
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/047geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Tu l'as vue?
    Jake (en pensée) : J'ai comme une envie de faire ce pour quoi on me
    paie..."
%item
  %title Interlude - Planche 48
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/048geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Maintenant que j'ai réuni la troupe, on va bien finir par la
    trouver. C'est grand mais elle ne pourra pas indéfiniment échapper
    à notre vigilance."
%item
  %title Interlude - Planche 49
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/049geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Fugitive: Ils sont sur mes talons et je n'ai pas le temps de vous
    expliquer mais pouvez-vous me cacher, s'il vous plaît?
    Femme derrière le stand: Ne serait-ce que par solidarité entre femmes
    coiffées d'un couvre-chef élégant, je ne peux que dire oui."
%item
  %title Interlude - Planche 50
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/050geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Vous êtes sûre que cette tête ne vous dit rien?
    Femme derrière le stand: Non, non...'
%item
  %title Interlude - Planche 51
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/051geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Tu commences sérieusement à m'énerver avec tes bouquins!
    Je ne lis pas quand je travaille, moi. Et je travaille tout le temps.
    La médiocrité te convient sans doute, mais elle se met en travers de mon
    ambition. Alors au boulot.
    Jake: Mais t'as perdu ma page avec tes conneries!"
%item
  %title Interlude - Planche 52
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/052geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Fugitive: Merci consœur chapelière. Je reviendrai prendre le thé un
    de ces jours, mais là, je suis pressée.
    Femme derrière le stand: Allez, cours petit lapin! Les vertes prairies
    de la liberté t'attendent."
%item
  %title Interlude - Planche 53
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/053geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Tu penses que Kenny peut s'en sortir? Il est quand même pas très
    loquace."
%item
  %title Interlude - Planche 54
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/054geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 55
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/055geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Les autres sont pas plus bavards. Ca va nous prendre des plombes.
    Allez, on se casse.'
%item
  %title Interlude - Planche 56
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/056geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Pardon de m'excuser du dérangement pendant votre bière, mais
    auriez-vous croisé cette personne?"
%item
  %title Interlude - Planche 57
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/057geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Pousse toi, Jake. On n'obtient rien en s'écrasant devant les
    péquenots. Alors, poivrot? Où est la fille? Crache le morceau.
    Nain du chaos: Quoi?"
%item
  %title Interlude - Planche 58
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/058geeko.png'),
    type: 'image/png', length: '0' }
  %description
    hors champs: A toi de jouer Kenny!
    Nain du chaos: BEUARGH!!!'
%item
  %title Interlude - Planche 59
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/059geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Max: Dites les gars, j'ai cru voir passer un lapin qui lui ressemblait
    drôlement.
    Nain du chaos: Groumph!
    Nain du chaos: BEUARGH!!!"
%item
  %title Interlude - Planche 60
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/060geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Fugitive: Mmmfff... J'y arrive pas... Il doit y avoir une sécurité
    enfant."
%item
  %title Interlude - Planche 61
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/061geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Mmmff...
    C'est verrouillé. Je subodore pourtant sa présence. Mon instinct ne me
    trompe jamais."
%item
  %title Interlude - Planche 62
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/062geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Attends, on doit pouvoir trouver une méthode moins fatigante pour
    ouvrir cette porte.'
%item
  %title Interlude - Planche 63
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/063geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 64
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/064geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Je précise: moins fatigant et surtout sans explosion.
    Loris: Pas touche! Tu as déjà oublié ce qu'il s'est passé la dernière
    fois que tu as joué avec des grenades?"
%item
  %title Interlude - Planche 65
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/065geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Loris: Alors que faisons nous? Je vous rappelle que cette chose persiste
    à nous resister.
    Passante: Vous faites comme vous voulez mais considérant que cette porte
    est factice, elle risque de persister encore un bon moment...'
%item
  %title Interlude - Planche 66
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/066geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 67
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/067geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 68
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/068geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 69
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/069geeko.png'),
    type: 'image/png', length: '0' }
  %descriptionPas de texte'
%item
  %title Interlude - Planche 70
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/070geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Tu vas cracher le morceau?'
%item
  %title Interlude - Planche 71
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/071geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Regarde la mieux! Je suis en train de perdre patience et j'ai
    le doigt tout tétanisé à force de me retenir.
    J'ai la détente hypersensible. Alors essaye de ne pas me décevoir si tu
    ne veux pas que je repeigne le poteau avec ta cervelle.
    Loris: Passe à table!
    Jake: Dis pas ça Loris, on a pas eu le temps de déjeuner et j'ai assez
    faim comme ça. Ça me rend grognon..."
%item
  %title Interlude - Planche 72
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/072geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Fugitive: s'ils vous interrogent, vous pourriez leur dire que je suis
    partie vers... Vous m'entendez? Vous me voyez? Vous savez que votre
    braguette est ouverte? Manifestement non!"
%item
  %title Interlude - Planche 73
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/073geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: A l'heure qu'il est, elle doit probablement essayer de se cacher
    au fond d'une poubelle, terrorisée et nerveusement à bout.
    La pression de la traque va la faire craquer. Elle va faire une faute
    très bientôt. On aura qu'à la cueillir."
%item
  %title Interlude - Planche 74
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/074geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Hôte1: Quelques biscuits au miel de rose du Tibet? L'émerveillement
    de vos papilles se marie à merveille avec le massage Tui-Na que notre
    expert vous prodigue.
    Fugitive: Bin en fait, ça me chatouille!
    Hôte2: Je sens que vos chakras vibrent dans le pourpre. Vous êtes cernée
    par des énergies négatives."
%item
  %title Interlude - Planche 75
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/075geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Hôte1: Une tasse de Da-Hong-Pao vous détendra.
    Fugitive: Vous n'auriez pas une petite bière plutôt?"
%item
  %title Interlude - Planche 76
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/076geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Vous là-haut! Perché comme vous êtes, vous n'auriez pas vu
    cette personne?"
%item
  %title Interlude - Planche 77
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/077geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Le géant: J'ai l'œil pour repérer ce qui a de longues oreilles et j'ai
    vu un petit lapin qui lui ressemblait fortement."
%item
  %title Interlude - Planche 78
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/078geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Femme chienne: Je ne l'ai pas vue mais je connais une bonne chasseuse
    de lapin de l'autre côté du miroir.
    Jake (pensée): Elle a l'air d'avoir du flair, mais elle a aussi de
    grandes dents et de grandes oreilles. Elle me rappelle ma grand-mère."
%item
  %title Interlude - Planche 79
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/079geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Alice: Tu m'auras fait courir longtemps mais cette fois tu ne
    m'échappera pas. Je vais te choper mon mignon petit léporidé.
    Fugitive: Oh merde!"
%item
  %title Interlude - Planche 81
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/081geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: De nombreuses personnes l'ont vue se réfugier ici. Ca ne vous dit
    vraiment rien?
    Alice: Non, non..."
%item
  %title Interlude - Planche 82
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/082geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Mais ce n'est pas de la fourrure blanche au milieu de cette
    flaque de sang sous la table?
    Alice: Je ne vois pas de quoi vous voulez parler."
%item
  %title Interlude - Planche 83
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/083geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Jake: Ne me prend pas pour un jambon.
    Dis moi tout de suite où se trouve le civet, sinon c'est toi que je
    farcis aux pruneaux!"
%item
  %title Interlude - Planche 84
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/084geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Alice: Tu crois me faire peur avec ton calibre? Si tu ne décampes
    pas immédiatement, le mien va transformer ton buffet en passoire.
    Casse toi!
    Jake: Ok! Ok! Pas la peine de s'énerver!"
%item
  %title Interlude - Planche 85
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/085geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Alice: Mmgmr.. Finalement, c'est pas si bon le lapin, surtout cru.
    Peut-être qu'avec des champignons..."
%item
  %title Interlude - Planche 99
  %pubDate 2 Mar 2019 00:00:00 GMT
  %enclosure{ url: root + image_path('interlude/099geeko.png'),
    type: 'image/png', length: '0' }
  %description
    Femme blessée: Grrrr... Si je tenais celui qui a fait exploser cette
    grenade!
    Jake: Tiens? On dirait du Kenny.'
